.download-01 {}
.download-01 .k-keyvisual {height:528px;display:flex;justify-content: center;align-items: center;}
.download-01 .k-keyvisual .k-img {position:absolute;top:0px;left:0px;right:0px;height:100%;}
.download-01 .k-keyvisual .k-img img {display:none;}
.download-01 .k-keyvisual .k-txt {text-align:center;}
.download-01 .k-keyvisual .k-text {position:relative;z-index:1;}
/*  */
.download-02 {display:flex;justify-content: center;}
.download-02 .k-section-inner {max-width:1200px;width:100%;padding:0 34px;overflow:initial}
.download-02 .k-head {text-align:center;padding-top:180px;}
.download-02 .k-cont {margin-top:80px;}
.download-02 .k-cont .cont-inner {display:flex;background:#f9f9f9;padding:44px 56px;border-radius:24px;}
.download-02 .k-cont .cont-inner > .k-left {width:50%;padding:12px;box-sizing: border-box;}
.download-02 .k-cont .cont-inner > .k-right {width:50%;padding:12px;box-sizing: border-box}
.download-02 .k-cont dl dd {margin-top:8px;}
.download-02 .Search {background:#fff;}
.download-02 .btn-wrap {margin-top:48px;text-align:center;}
/*  */
.download-03 {display:flex;justify-content: center;}
.download-03 .k-section-inner {max-width:1200px;width:100%;padding:180px 34px 170px 34px; }
.download-03 .k-tab {border-bottom:1px solid #e7e7e7;height:initial;justify-content: flex-start;}
.download-03 .k-tab .tab-inner {position: relative;overflow:hidden;}
.download-03 .k-tab .tab-inner .swiper-container {margin:0px;}
.download-03 .k-tab .tab-inner .swiper-slide {position:relative;width:initial;height:54px;display:flex;align-items: center;;box-sizing: border-box;}
.download-03 .k-tab .tab-inner .tab-item {display:flex;padding:0 4px;margin-top:4px;}
.download-03 .k-tab .tab-inner .tab-item .k-no {text-align:center;line-height:24px;margin-left:9px;width:24px;height:24px;border-radius:50%;background:#767676;color:#fff;}
.download-03 .k-tab .tab-inner .tab-item .k-name {font-weight:normal;}
.download-03 .k-tab .tab-inner .swiper-slide:hover:after {content:"";position:absolute;bottom:0px;left:0px;width:100%;height:2px;background:#bb1e4d;}
.download-03 .k-tab .tab-inner .swiper-slide:hover .k-name {color:#bb1e4d;}
.download-03 .k-tab .tab-inner .swiper-slide:hover .k-no {background: #bb1e4d;}
.download-03 .k-tab .tab-inner .swiper-slide.active:after {content:"";position:absolute;bottom:0px;left:0px;width:100%;height:2px;background:#bb1e4d;}
.download-03 .k-tab .tab-inner .swiper-slide.active .k-name {color:#bb1e4d;}
.download-03 .k-tab .tab-inner .swiper-slide.active .k-no {background: #bb1e4d;}
/*  */
.download-03 .tab-list {margin-top:48px;}
.download-03 .tab-list .list-inner {margin:0 -12px;display:flex;flex-wrap: wrap;}
.download-03 .tab-list .k-item {width:50%;padding:12px;box-sizing: border-box;}
.download-03 .tab-list .k-item .item-inner {border:1px solid #e7e7e7;border-radius: 24px;;padding:32px;height:100%;box-sizing: border-box;}
.download-03 .tab-list .k-item .k-title {color:#505050;}
.download-03 .tab-list .k-item .tag-list {display:flex;flex-wrap: wrap;margin-top:8px;}
.download-03 .tab-list .k-item .tag-list .tag-item {margin:8px 8px 0 0;}
.download-03 .tab-list .k-item .tag-list .tag-item .k-text {height:32px;line-height:32px;padding:0 10px;background:#f6f6f6;border-radius:8px;}
.download-03 .tab-list .k-item .k-name {margin-top:12px;}
.download-03 .tab-list .k-item .k-desc {margin-top:4px;color:#767676;}
.download-03 .tab-list .k-item .btn-wrap {margin-top:16px;}
.download-03 .tab-list .k-item .btn-wrap .k-btn {margin:16px 16px 0 0;}
.download-03 .tab-list .k-item .btn-wrap .k-btn:hover svg circle {stroke:#fff;}
.download-03 .tab-list .k-item .btn-wrap .k-btn:hover svg path {stroke:#fff;}


@media screen and (max-width: 1200px) {
    .download-01 .k-keyvisual {height:390px;}
    .download-02 .k-head {padding-top:140px;}
    .download-02 .Search.form .k-display {height:56px;line-height:56px;}
    .download-02 .k-cont {margin-top:64px;}
    .download-02 .k-cont .cont-inner {padding:36px 48px;}
    .download-03 .k-section-inner {padding:140px 34px 128px 34px}
    .download-03 .tab-list {margin-top:36px;}
    .download-03 .tab-list .list-inner {margin:0 -10px}
    .download-03 .tab-list .k-item {padding:10px 10px;}
    .download-03 .tab-list .k-item .item-inner {border-radius: 20px;}
}

@media screen and (max-width: 768px) {
    .download-01 .k-keyvisual {height:290px;}
    .download-02 .k-section-inner {padding:0px;}
    .download-02 .k-head {padding-top:80px;}
    .download-02 .Search.form .k-display {height:48px;line-height:48px;}
    .download-02 .k-cont {margin-top:56px;}
    .download-02 .k-cont .cont-inner {display:block;padding:40px 24px;border-radius: 0px;;}
    .download-02 .k-cont .cont-inner .k-left {width:100%;padding:0px;}
    .download-02 .k-cont .cont-inner > .k-right {width:100%;padding:0px;margin-top:24px;}
    .download-02 .btn-wrap {margin-top:40px;}
    .download-02 .btn-wrap .k-text {font-size:16px;}
    /*  */
    .download-03 .k-section-inner {padding:80px 24px 80px 24px}
    /*  */
    .download-03 .k-tab .tab-inner .swiper-slide {height:48px;}
    /*  */
    .download-03 .tab-list {margin-top:32px;}
    .download-03 .tab-list .list-inner {margin:0px;display:block;}
    .download-03 .tab-list .k-item {padding:0px;width:100%;margin-top:32px;}
    .download-03 .tab-list .k-item:first-child {margin-top:0px;}
    .download-03 .tab-list .k-item .item-inner {border-radius: 20px;}

    .download-03 .k-tab .tab-inner .tab-item {margin-top:-2px;text-align:center;}
    .download-03 .tab-list .k-item .k-title {text-align:center;}
    .download-03 .tab-list .k-item .tag-list {display:block;margin-top:16px;}
    .download-03 .tab-list .k-item .tag-list .tag-item {text-align:Center;}
    .download-03 .tab-list .k-item .tag-list .tag-item .k-text {display:inline-block}
    .download-03 .tab-list .k-item .k-name {text-align:center;}
    .download-03 .tab-list .k-item .k-desc {text-align:center;}
    .download-03 .tab-list .k-item .btn-wrap {display:flex;flex-wrap: wrap;flex-direction: column;align-items: center;;margin-top:8px;}
    .download-03 .tab-list .k-item .btn-wrap .k-btn {}
}






