.esg-one-01 {}
.esg-one-01 .k-section-inner {width:100%;height:100vh;}
.esg-one-01 .k-img {position:absolute;top:0px;left:0px;width:100%;height:100vh;background-position: center bottom;;}
.esg-one-01 .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(17,17,17,0.3)}
.esg-one-01 .k-txt {position:relative;width:100%;height:100vh;z-index:1;display:flex;align-items: center;justify-content: center;}
.esg-one-01 .k-txt .txt-inner {position:relative;width:680px;height:680px;display:flex;align-items: center; justify-content: center;transition:all 0.25s}
.esg-one-01 .k-txt .txt-inner canvas {position:absolute;top:0px;left:0px;border-radius:50%;}

.esg-one-01 .k-text {text-align:center;position: relative;z-index:1;;}
.k-down-wrap {position:fixed;bottom:38px;left:0px;right:0px;z-index:1;text-align:center;}
.k-down-wrap button {}
.esg-one-01.section-out .k-down-wrap {display:none;}

.esg-one-01 .k-txt .txt-inner .particle {position:absolute;top:0px;left:0px;width:640px;height:640px;}
.esg-one-01 .k-txt .txt-inner .particle img {width:100%;height:100%;opacity: 0.8;}
.esg-one-01 .k-txt .txt-inner .particle:before{
	position:absolute;top:-20px;left:-20px;
	content:'';
	display:block;
	width: 680px;
    height: 680px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    animation: anim1 2s linear infinite;
    border-radius: 100%;
}
@keyframes anim1{
	from {transform:rotate( 0deg )}
	to {transform:rotate( 360deg )}
}


/*  */
.esg-one-02 {}
.esg-one-02 .k-section-inner {width:100%;height:200vh;}
.esg-one-02.section-top .k-img {position:fixed;top:0px;left:0px;}
.esg-one-02.section-end .k-img {position: absolute;top:initial;bottom:0px;}
.esg-one-02 .k-img {position:absolute;top:0px;left:0px;width:100%;height:100vh;background-position: center top;}
.esg-one-02 .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(17,17,17,0.3)}
.esg-one-02 .k-txt {position:relative;width:100%;height:100vh;z-index:1;display:flex;align-items: center;justify-content: center;}
.esg-one-02 .k-txt .txt-inner {position:relative;text-align:center;padding: 0 24px;}
.esg-one-02 .k-txt .txt-inner .k-desc {margin-top:16px;}
/*  */
.esg-one-03 {}
.esg-one-03 .k-section-inner {width:100%;height:calc(102vh );min-height:1080px;}
.esg-one-03 .k-cont {}
.esg-one-03 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-one-03 .k-cont .k-left {width:0px;height:100vh;transition:all 0.25s}
.esg-one-03 .k-cont .k-left .k-img {height:100vh;}
.esg-one-03 .k-cont .k-right {flex:1 auto;height:100vh;display:flex;align-items: center;background-color:#8f0b33;}
.esg-one-03 .k-cont .k-right .k-txt {max-width:500px;width:100%;padding-left:100px;padding-right:34px;}
.esg-one-03 .k-cont .k-right .k-txt .k-desc {margin-top:40px;}
.esg-one-03.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-one-03.section-end .k-cont {position: absolute;top:initial;bottom:0px;}


/*  */
.esg-one-04 {}
.esg-one-04 .k-section-inner {width:100%;height:calc(100vh + 2000px);}
.esg-one-04 .k-img {position:absolute;top:0px;left:0px;width:100%;height:100vh;}
.esg-one-04 .k-left {position:absolute;top:calc(120px + 82px);z-index:1;}
.esg-one-04 .k-left .k-text {color:#888;}
.esg-one-04 .k-left .k-text strong {color:#191919;}
.esg-one-04 .k-cont {position:absolute;top:0px;left:0px;width:100%;height:100vh;display:flex;justify-content: center;}
.esg-one-04 .k-cont > .k-inner {position:relative;height:100vh;width:100%;max-width:1200px;padding:0 34px;}
.esg-one-04 .k-cont > .k-inner .cont-inner {position:relative;height:100vh;}
.esg-one-04 .k-cont .k-left {}
.esg-one-04 .k-cont .k-center {position:absolute;top:calc(50% - 250px);left:calc(50% - 250px)}
.esg-one-04 .k-cont .k-center .k-movie {position:absolute;top:0px;left:0px;transition:all 0.5s}
.esg-one-04 .k-cont .k-right {position:absolute;right:0px;bottom:120px;width:100%;display:flex;justify-content: center;}
.esg-one-04 .k-cont .k-right .right-inner {max-width:1200px;width:100%;display:flex;justify-content: flex-end;}
.esg-one-04 .k-cont .k-right .k-txt {display:inline-block;}
.esg-one-04 .k-cont .k-right .txt-item .k-txt .k-name {opacity:0;transition:all 0.25s}
.esg-one-04 .k-cont .k-right .txt-item.tween .k-txt .k-name {opacity: 1;}
.esg-one-04 .k-cont .k-right .k-txt .k-desc {margin-top:18px;display:flex;align-items: flex-end;}
.esg-one-04 .k-cont .k-right .k-txt .k-year {display:inline-block;}
.esg-one-04 .k-cont .k-right .k-txt .k-year-txt {display:inline-block;margin:0 0 23px 10px;}
.esg-one-04 .k-cont .k-right .k-txt .k-year-txt.first {margin:0 10px 23px 0px;}
.esg-one-04 .k-cont .k-right .k-txt .k-desc2 {margin-top:65px;width:400px;}
.esg-one-04 .k-cont .k-right .k-txt .k-desc2 strong {color:#bb1e4d;}
/*  */
.esg-one-04 .k-cont .k-right .txt-04 {text-align:right;}
.esg-one-04 .k-cont .k-right .txt-04 .k-txt .k-desc {justify-content: flex-end;}
.esg-one-04 .img-item {opacity: 0;transition:all 0.25s}
.esg-one-04 .img-item.on {opacity: 1;}
.esg-one-04 .txt-item {display:none;}
.esg-one-04 .txt-item.on {display:block;}
/*  */
.esg-one-04.section-top .k-img {position:fixed;top:0px;left:0px;}
.esg-one-04.section-end .k-img {position: absolute;top:initial;bottom:0px;}
.esg-one-04.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-one-04.section-end .k-cont {position: absolute;top:initial;bottom:0px;}


/*  */
.esg-one-05 {}
.esg-one-05 .k-section-inner {width:100%;height:calc(100vh + 100px);min-height:1080px;}
.esg-one-05 .k-cont {}
.esg-one-05 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-one-05 .k-cont .k-left {flex:1 auto;display:flex;align-items: center;background-color:#00562a;justify-content: flex-end;}
.esg-one-05 .k-cont .k-left .k-txt {max-width:500px;width:100%;padding-right:100px;padding-left:34px;}
.esg-one-05 .k-cont .k-left .k-txt .k-desc {margin-top:40px;}
.esg-one-05 .k-cont .k-right {width:0%;height:100vh;display:flex;align-items: center;justify-content: center;transition: all 0.25s;}
.esg-one-05 .k-cont .k-right .img-wrap {position:relative;width:320px;height: 320px;}
.esg-one-05 .k-cont .k-right .img-wrap .k-img {position:absolute;border-radius:50%;overflow:hidden;box-shadow: 23px 23px 45px 0 rgba(0,0,0,0.1);}

.esg-one-05.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-one-05.section-end .k-cont {position: absolute;top:initial;bottom:0px;}
/*  */
.esg-one-05.section-top .k-cont .img-wrap {perspective: 1000px;}

.esg-one-05 .k-cont .img-wrap .k-front {transform: rotateY(0deg);transition:all 0.5s}
.esg-one-05 .k-cont .img-wrap .k-back {transform: rotateY(180deg);opacity:0;transition:all 0.5s}

.esg-one-05.section-top .k-cont .img-wrap .k-front {transform: rotateY(180deg);opacity:0;}
.esg-one-05.section-top .k-cont .img-wrap .k-back {transform: rotateY(0deg);opacity:1;}

/*  */
.esg-one-06 {}
.esg-one-06 .k-section-inner {height:calc(100vh + 2400px);}
.esg-one-06 .cont-wrap {position:absolute;top:0px;left:0px;width:100%;height:100vh;min-height:1080px;padding:120px 0;box-sizing: border-box;}
.esg-one-06 .k-top {text-align:center;position: relative;z-index:1;}
.esg-one-06 .k-top .k-text {width:590px;display:inline-block;color:#767676;}
.esg-one-06 .k-top strong {display:block;color:#191919}
.esg-one-06 .k-center {position:relative;display:flex;justify-content: center;margin-top:52px;}
.esg-one-06 .k-center .txt-inner {position:relative;width:534px;height:534px;display:flex;align-items: center; justify-content: center;}
.esg-one-06 .k-center .txt-inner .txt-wrap {position:relative;width:100%;height:100%;}
.esg-one-06 .k-center .txt-inner .txt-wrap .txt-item {position:absolute;top:0px;left:0px;width:100%;height:100%;display:flex;align-items: center;justify-content: center;}
.esg-one-06 .k-center .txt-inner .txt-wrap .txt-item > div {}
.esg-one-06 .k-center .txt-inner canvas {position:absolute;top:0px;left:0px;}
.esg-one-06 .k-center .k-text {text-align:center;position: relative;z-index:1;;}
.esg-one-06 .txt-wrap .txt-item {--display:none;opacity:0;transition:all 0.5s}
.esg-one-06 .txt-wrap .txt-item.on {display:block;opacity:1;}
.esg-one-06 .txt-wrap .txt-item.item-03 .k-text {color:#00562a;}
.esg-one-06 .k-bottom {text-align:center;margin-top:64px;position: relative;z-index:1;}
.esg-one-06 .k-bottom .k-text {max-width:780px;width:100%;display:inline-block}
/*  */
.esg-one-06.section-top .cont-wrap {position:fixed;top:0px;left:0px;}
.esg-one-06.section-end .cont-wrap {position: absolute;top:initial;bottom:0px;}
/*  */
.esg-one-07 {}
.esg-one-07 .k-section-inner {width:100%;height:calc(100vh + 300px);min-height:1080px;}
.esg-one-07 .k-cont {}
.esg-one-07 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-one-07 .k-cont .k-left {flex:1 auto;display:flex;align-items: center;background-color:#f9f9f9;justify-content: flex-end;}
.esg-one-07 .k-cont .k-left .k-txt {max-width:500px;width:100%;padding-right:100px;padding-left:34px;}
.esg-one-07 .k-cont .k-left .k-txt .k-desc {margin-top:40px;}
.esg-one-07 .k-cont .k-left .k-title {color:#505050;}
.esg-one-07 .k-cont .k-left .k-title strong {color:#008742;}
.esg-one-07 .k-cont .k-right {width:0px;position:relative;width:50%;height:100vh;transition: all 0.25s;}
.esg-one-07 .k-cont .k-right .k-img {position: absolute;top:0px;left:0px;right:0px;bottom:0px;;}

.esg-one-07.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-one-07.section-end .k-cont {position: absolute;top:initial;bottom:0px;}

/*  */
.esg-one-08 {}
.esg-one-08 .k-section-inner {width:100%;height:calc(100vh + 300px);min-height:1080px;}
.esg-one-08 .k-cont {}
.esg-one-08 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-one-08 .k-cont .k-left {width:0px;position:relative;width:50%;height:100vh;transition: all 0.25s}
.esg-one-08 .k-cont .k-left .k-img {position: absolute;top:0px;left:0px;right:0px;bottom:0px;}
.esg-one-08 .k-cont .k-right {flex:1 auto;display:flex;align-items: center;background-color:#8f0b33;}
.esg-one-08 .k-cont .k-right .k-txt {max-width:500px;width:100%;padding-left:100px;padding-right:34px;}
.esg-one-08 .k-cont .k-right .k-txt .k-desc {margin-top:40px;}
.esg-one-08 .k-cont .k-right .k-txt .k-desc2 {margin-top:16px;}

.esg-one-08.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-one-08.section-end .k-cont {position: absolute;top:initial;bottom:0px;}


/*  */
.k-section-page {position:absolute;left:90px;bottom:115px;color:#888;z-index:5;}
.k-section-page .k-text {color:#888;transform: rotate(-90deg);}
.k-section-page .k-text strong {color:#fff;}
.k-section-page .k-text span {display:inline-block;margin:0 10px;}
.k-section-page.k-black strong {color:#191919;}

.section-start .k-section-page {position:fixed;}
.section-end .k-section-page {position:absolute;}


.esg-one-04 .k-section-page strong {color:#191919;}
.esg-one-06 .k-section-page strong {color:#191919;}
.esg-one-07 .k-section-page strong {color:#191919;}

@media screen and (max-width: 1200px) {
    .tweenLeft .k-section-inner {height:initial;min-height: initial;}
    .tweenLeft .k-cont .cont-inner {display:block;}
    .tweenLeft .k-cont .k-left {width:100vw !important;height:683px;}
    .tweenLeft .k-cont .k-left .k-img {height:683px;}
    .tweenLeft .k-cont .k-right {width:100vw !important;height:initial}
    .tweenLeft .k-cont .k-right {height:683px;justify-content: center;}
    .esg-one-08 .k-cont .k-right .k-txt {padding:0 24px;}
    .tweenLeft.section-top .k-cont {position:relative;top:0px;left:0px;}
    .tweenLeft.section-end .k-cont {position: relative;top:initial;bottom:0px;}
    .esg-one-05 .k-cont .k-left {display:flex;justify-content: center;}
    .esg-one-05 .k-cont .k-left .k-txt {padding:0px;}
    .esg-one-07 .k-cont .cont-inner {display:flex;flex-direction: column-reverse;}
    .esg-one-07 .k-cont .k-left {display:flex;justify-content: center;}
    .esg-one-07 .k-cont .k-left .k-txt {padding:0px;}
    .esg-one-08 .k-cont .k-left {display:flex;justify-content: center;}
    .esg-one-08 .k-cont .k-left .k-txt {padding:0px;}

    .esg-one-04 .k-cont .k-left {left:calc(100px - 34px);}
    .esg-one-04 .k-cont .k-right {right:calc(100px - 34px);}

    .esg-one-06.section-top .cont-wrap {padding:120px 0;}
    .esg-one-06 .k-top {margin-top:0px;}
    .esg-one-06 .k-bottom {padding:0 100px;}
    .esg-one-06 .k-bottom .k-text {width:100%;}
    
    .esg-one-06 .k-center {margin-top:87px;}
    .esg-one-06 .k-bottom {margin-top:87px;}

    .k-section-page {left:34px;}
    .esg-one-04 .k-cont .k-right .txt-item .k-txt .k-name {opacity: 1;;}

    .esg-one-01 .k-text {width:262px;word-break: keep-all;}
    .esg-one-01 .k-text br {display:none;}
    .esg-one-01 .k-txt .txt-inner .particle {width:512px;height:512px;left:calc(50% - 256px);top:calc(50% - 256px)}
    .esg-one-01 .k-txt .txt-inner .particle:before{
        position:absolute;top:-25px;left:-20px;
        content:'';
        width: 552px;
        height: 552px;
    }
}

/* @media screen and (max-height: 1200px) {
    .esg-one-06 .k-center .txt-inner {height:300px;width:300px;}
    .esg-one-06 .k-center .txt-inner canvas {width:100% !important;height:100% !important;}
    .esg-one-06 .k-center .txt-inner .txt-wrap .txt-item {top:calc(50% - 120px)}
} */

@media screen and (max-width: 768px) {
    .esg-one-01 .k-txt .txt-inner {width:400px;height:400px;}
    .esg-one-01 .k-txt .txt-inner canvas {width:400px;height:400px;}
    .tweenLeft .k-cont .k-left {min-height:640px;height:100vh;}
    .tweenLeft .k-cont .k-left .k-img {height:100%;}
    .tweenLeft .k-cont .k-right {min-height:640px;height:100vh;}
    .esg-one-03 .k-cont .k-right .k-txt {padding:0 24px;max-width:100%;}
    .k-section-page {display:none;}

    .esg-one-04 .k-cont > .k-inner {padding:0 24px;}
    .esg-one-04 .k-cont .k-left {top:64px;left:0px;}
    .esg-one-04 .k-cont .k-right {right:0px;bottom:84px;}
    .esg-one-04 .k-cont .k-right .k-txt .k-year {font-size:96px;line-height:96px;}
    .esg-one-04 .k-cont .k-right .k-txt .k-year-txt {margin-bottom:13px;}
    .esg-one-04 .k-cont .k-right .k-txt .k-year-txt.first {margin-bottom:13px;}
    .esg-one-04 .k-cont .k-right .k-txt .k-desc {margin-top:14px;}
    .esg-one-04 .k-cont .k-right .k-txt .k-desc2 {margin-top:15px;width:100%;}

    .esg-one-04 .k-left .k-text br {display:none;}

    .tweenLeft .k-cont .cont-inner {display:flex;flex-direction: column-reverse;}
    .esg-one-05 .k-cont .k-left .k-txt {padding:0 24px;max-width:100%;}
    .esg-one-05 .k-cont .k-right {width:100% !important;}
    .esg-one-05 .k-cont .k-right .img-wrap {width:175px;height:175px;}
    .esg-one-05 .k-cont .k-right .img-wrap .k-img {width:175px;height:175px;}
    /*  */
    .esg-one-06 .k-top .k-text {width:100%;padding:0 24px;box-sizing: border-box;}
    .esg-one-06 .cont-wrap {padding: 40px 0;}
    .esg-one-06 .k-center .txt-inner {width:240px;height:240px;}
    .esg-one-06 .k-center .txt-inner canvas {width:240px !important;height:240px !important;}
    .esg-one-06 .k-center {margin-top:24px;}
    .esg-one-06 .k-bottom {margin-top:24px;padding:0 24px;}
    
    .esg-one-07 .k-cont .k-left .k-txt {padding: 0px 24px;;max-width:100%;}
    .esg-one-08 .k-cont .k-right .k-txt {padding: 0px 24px;;max-width:100%;}

    .esg-one-04 .k-cont .k-center {top:calc(50% - 200px);left:calc(50% - 150px)}
    .esg-one-04 .k-cont .k-center .k-movie canvas {width:300px !important;height:300px !important;}
    .esg-one-06.section-top .cont-wrap {min-height:initial;}
    .esg-one-06.section-top .cont-wrap  {padding:60px 0 0 0;}

    .esg-one-01 .k-txt .txt-inner .particle {width:290px;height:290px;left:calc(50% - 145px);top:calc(50% - 145px)}
    .esg-one-01 .k-txt .txt-inner .particle:before{
        position:absolute;top:-15px;left:-10px;
        content:'';
        width: 310px;
        height: 310px;
    }

    .esg-one-06 .k-top strong {display:inline}


    .esg-one-06 .k-center {margin-top:0px;}
    .esg-one-06 .k-bottom {margin-top:0px;}
    .esg-one-06 .k-center .txt-inner canvas {left:-20px;top:-20px;}
    .esg-one-06 .k-center .txt-inner {width:200px;height:200px;}
    .esg-one-06 .k-center .txt-inner .txt-wrap {width:300px;}
    .esg-one-06 .k-center .txt-inner .txt-wrap .txt-item {left:calc(50% - 150px);width:300px;}
}





.canvasDiv {display:none;}
.canvasDiv.on {display:block;}



.canvasDivGlSl {display:none;}
.canvasDivGlSl.on {display:block;}
















