.esg-03-01 {}
.esg-03-01 .k-section-inner {height:100vh;}
.esg-03-01 .k-txt {position:absolute;top:0px;left:0px;width:100%;height:100vh;display:flex;align-items: center;justify-content: center;}
.esg-03-01 .k-txt .k-text {color:#fff;text-align:center;max-width:680px;}
.esg-03-01 .k-img {height:100vh;}
/*  */
.esg-03-02 {display:flex;justify-content: center;}
.esg-03-02 .k-section-inner {max-width:1200px;width:100%;padding:120px 0;}
.esg-03-02 .k-top {}
.esg-03-02 .k-top .top-inner {display:flex;justify-content: space-between;}
.esg-03-02 .k-top .k-left {width:400px;}
.esg-03-02 .k-top .k-right {width:540px;padding-top:140px;}
.esg-03-02 .k-top .k-img {margin-top:120px;}
.esg-03-02 .k-txt {margin-top:60px;}
.esg-03-02 .k-txt dl {}
.esg-03-02 .k-txt dt {color:#b6b6b6;}
.esg-03-02 .k-txt dt span {color:#bb1e4d}
.esg-03-02 .k-txt dd {margin-top:20px;max-width:540px;}
/*  */
.esg-03-02 .k-center {margin-top:200px;}
.esg-03-02 .k-center .k-head {display:flex;justify-content: center;}
.esg-03-02 .k-center .k-head .k-text {width:506px;text-align:Center;}
.esg-03-02 .k-center .k-head .k-text span {color:#bb1e4d;}
.esg-03-02 .k-center .k-list {margin-top:100px;text-align:center;}
.esg-03-02 .k-center .k-list .list-inner {display:inline-block;width:100%;text-align:center;max-width:calc(1060px - 45px);}
.esg-03-02 .k-center .k-list .list-inner .swiper-container {width:100%;margin:0px;display:inline-block;}
.esg-03-02 .k-center .k-list .k-item {}
.esg-03-02 .k-center .k-list .k-item:first-child {margin-left:0px;}
.esg-03-02 .k-center .k-list .k-item.item0 {padding-top:41px;}
.esg-03-02 .k-center .k-list .k-item.item1 {padding-top:110px;}
.esg-03-02 .k-center .k-list .k-item.item2 {}
.esg-03-02 .k-center .k-list .k-item.item3 {padding-top:60px;}
.esg-03-02 .k-center .k-list .k-item {width:220px;}
.esg-03-02 .k-center .k-list .k-item .k-img {position:relative;height:370px;box-shadow: 6px 30px 50px 0 rgba(0, 0, 0, 0.3);}

/*  */
.esg-03-02 .k-bottom {margin-top:230px;padding:0 40px;}
.esg-03-02 .k-bottom .k-head {word-break: keep-all;}
.esg-03-02 .k-bottom .k-head .k-div {margin-top:60px;display:flex;justify-content: space-between;}
.esg-03-02 .k-bottom .k-head .k-div .k-left {width:540px;}
.esg-03-02 .k-bottom .k-head .k-div .k-right {width:540px;}
.esg-03-02 .k-bottom .k-cont {margin-top:140px;}
.esg-03-02 .k-bottom .k-cont .cont-inner {display:flex;justify-content: space-between;width:100%;}
.esg-03-02 .k-bottom .k-cont {}
.esg-03-02 .k-bottom .k-cont .k-left {}
.esg-03-02 .k-bottom .k-cont .k-left .left-inner {}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont {position: relative;text-align:Center;}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 {position:absolute;top:0px;left:0px;width:100%;height:100%;display:flex;align-items: center;justify-content: center;}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .txt-inner {padding:0 10px;}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-text {color:#fff;}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-desc {margin-top:2px;}
.esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-desc2 {}
.esg-03-02 .k-bottom .k-cont .k-left .k-text {color:#797979;}
.esg-03-02 .k-bottom .k-cont .k-right {flex:1 auto;padding-left:220px;}
.esg-03-02 .k-bottom .k-cont .k-list {}
.esg-03-02 .k-bottom .k-cont .k-list .k-item {margin-top:70px;}
.esg-03-02 .k-bottom .k-cont .k-list .k-item:first-child {margin-top:0px;}
.esg-03-02 .k-bottom .k-cont .k-list .k-item .k-title {margin-top:14px;}
.esg-03-02 .k-bottom .k-cont .k-list .k-item .k-desc {display:flex;flex-direction:row;align-items: center;}
.esg-03-02 .k-bottom .k-cont .k-list .k-item .k-desc .st2 {margin-left:6px;}

.lang-en .esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-desc {line-height:32px;}
.lang-en .esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-desc2 {margin-top:10px;}
/*  */
.esg-03-03 {}
.esg-03-03 .k-img {height:790px;}
/*  */
.esg-03-04 {}
.esg-03-04 .k-section-inner {padding-top:200px;}
.esg-03-04 .k-head {display:flex;justify-content: center;}
.esg-03-04 .k-head .k-inner {max-width:1200px;width:100%;padding:0 40px;}
.esg-03-04 .k-head .k-div {display:flex;justify-content: space-between;margin-top:60px;}
.esg-03-04 .k-head .k-left {width:540px}
.esg-03-04 .k-head .k-right {width:540px}
.esg-03-04 .k-bottom {margin-top:-76px;}
.esg-03-04 .k-bottom .k-img {height:1000px;}
/*  */
.esg-03-05 {}
.esg-03-05 .k-section-inner {padding-top:200px;}
.esg-03-05 .k-head {display:flex;justify-content: center;}
.esg-03-05 .k-head .k-inner {max-width:1200px;width:100%;}
.esg-03-05 .k-head .k-title {}
.esg-03-05 .k-head .k-desc {margin-top:60px;width:830px;}
.esg-03-05 .k-bottom {margin-top:-280px;}
.esg-03-05 .k-bottom .k-img {height:1000px;}
.esg-03-05 .k-bottom .k-txt {position:absolute;bottom:405px;left:0px;right:0px;text-align:center;}
.esg-03-05 .k-bottom .k-txt .k-inner {}





@media screen and (max-width: 1200px) {
    .esg-03-02 .k-section-inner {padding:40px 0 100px 0;}
    .esg-03-02 .k-top .top-inner {padding:0 40px;}
    .esg-03-02 .k-top .k-img {margin-top:100px;}
    .esg-03-02 .k-top .k-left {width:320px;}
    .esg-03-02 .k-top .k-right {width:380px;}
    .esg-03-02 .k-txt {padding:0 75px;}
    .esg-03-02 .k-center {margin-top:140px;}
    .esg-03-02 .k-center .k-list .k-item {width:180px;}
    .esg-03-02 .k-center .k-list .k-item .k-img {height:320px;}
    .esg-03-02 .k-center .k-list .k-item {}
    .esg-03-02 .k-center .k-list {padding:0 24px;margin-top:60px;}
    .esg-03-02 .k-center .k-list .list-inner {max-width:calc(848px - 32px)}
    .esg-03-02 .k-center .k-list .k-item.item0 {padding-top:36px;}
    .esg-03-02 .k-center .k-list .k-item.item1 {padding-top:117px;}
    .esg-03-02 .k-center .k-list .k-item.item3 {padding-top:56px;}
    .esg-03-02 .k-bottom .k-cont {margin-top:100px;}
    .esg-03-02 .k-bottom {margin-top:150px;}
    .esg-03-02 .k-bottom {padding:0 0px 0 100px;}
    .esg-03-02 .k-bottom .k-cont .k-list .k-item .k-desc {display:block;}
    .esg-03-02 .k-bottom .k-cont .k-list .k-item .k-desc .st2 {margin:0px;}
    .esg-03-02 .k-bottom .k-head .k-div {display:block;}
    .esg-03-02 .k-bottom .k-head .k-div .k-left {Width:100%;max-width:680px;}
    .esg-03-02 .k-bottom .k-head .k-div .k-right {Width:100%;max-width:680px;margin-top:40px;}
    .esg-03-02 .k-bottom .k-cont .k-right {padding:0 0 0 100px;flex:1 auto;}
    .esg-03-02 .k-bottom .k-cont .k-left {width:50%;min-width:390px;}
    .esg-03-02 .k-bottom .k-cont .k-right {}
    .esg-03-02 .k-bottom .k-cont .k-left .img-cont {max-width:428px;}
    .esg-03-02 .k-bottom .k-cont .k-list .k-item svg {width:80px;height:80px;}
    .esg-03-02 .k-bottom .k-cont .k-left .img-cont .k-txt2 .k-text {margin-top:0px;}
    .esg-03-03 .k-img {height:482px;}
    .esg-03-04 .k-section-inner {padding-top:120px;}
    .esg-03-04 .k-head .k-div {display:block;}
    .esg-03-04 .k-head .k-div .k-right {margin-top:40px;}
    .esg-03-04 .k-head .k-inner {padding:0 100px;}
    .esg-03-04 .k-bottom .k-img {height:680px;}
    .esg-03-05 .k-section-inner {padding-top:110px;}
    .esg-03-05 .k-head {padding:0 100px;}
    .esg-03-05 .k-head .k-desc {width:100%;max-width:680px;}
    .esg-03-05 .k-bottom .k-img {height:620px;}
    .esg-03-05 .k-bottom {margin-top:-160px;}
    .esg-03-05 .k-bottom .k-txt {bottom:250px;display:flex;justify-content: center;}
    .esg-03-05 .k-bottom .k-txt .k-inner {max-width:733px;width:100%;}
    .esg-03-05 .k-bottom .k-txt .k-inner img {width:100%;}

    .esg-03-02 .k-top .k-img {height:420px;}
}

@media screen and (max-width: 768px) {
    .esg-03-02 .k-top .top-inner {display:block;}
    .esg-03-02 .k-top .k-right {padding-top:40px;max-width:380px;width:100%;}
    .esg-03-02 .k-top .top-inner {padding:0 40px;}
    .esg-03-02 .k-top .k-img {margin-top:60px;height:280px;}
    .esg-03-02 .k-txt {margin-top:30px;padding:0 24px;}
    .esg-03-02 .k-center {margin-top:130px;}
    .esg-03-02 .k-center .k-list {margin-top:40px;}
    .esg-03-02 .k-center .k-list .k-item {width:140px;}
    .esg-03-02 .k-center .k-list .k-item .k-img {height:243px;}
    .esg-03-02 .k-center .k-list .k-item.item0 {padding-top:10px;}
    .esg-03-02 .k-center .k-list .k-item.item1 {padding-top:40px;}
    .esg-03-02 .k-center .k-list .k-item.item3 {padding-top:20px;}
    .esg-03-02 .k-bottom {margin-top:130px;}
    .esg-03-02 .k-bottom {padding:0 24px;}
    .esg-03-02 .k-bottom .k-head .k-div {margin-top:30px;}
    .esg-03-02 .k-bottom .k-head .k-div .k-right {margin-top:20px;}
    .esg-03-02 .k-bottom .k-cont {padding:0 16px;}
    .esg-03-02 .k-bottom .k-cont .cont-inner {display:block;}
    .esg-03-02 .k-bottom .k-cont .k-left {min-width:100%;width:100%;}
    .esg-03-02 .k-bottom .k-cont .k-left .img-cont {width:100%;}
    .esg-03-02 .k-bottom .k-cont .k-left .k-text {margin-top:20px;}
    .esg-03-02 .k-bottom .k-cont .k-right {margin-top:50px;padding:0px;}
    .esg-03-02 .k-bottom .k-cont .k-list .k-item {margin-top:36px;}
    .esg-03-02 .k-section-inner {padding-bottom:60px;}
    .esg-03-03 .k-img {height:340px;}
    .esg-03-04 .k-section-inner {padding:80px 0 0 0;}
    .esg-03-04 .k-head .k-inner {padding:0 24px;}
    .esg-03-04 .k-head .k-left {width:100%;}
    .esg-03-04 .k-head .k-inner {box-sizing: border-box;}
    .esg-03-04 .k-head .k-right {max-width:540px;width:100%;}
    .esg-03-04 .k-bottom .k-img {height:340px;}
    .esg-03-04 .k-bottom {margin-top:0px;}
    .esg-03-04 .k-head .k-div {margin-top:30px;}
    .esg-03-04 .k-head .k-div .k-right {margin-top:20px;}
    
    .esg-03-05 .k-section-inner {padding-top:80px;}
    .esg-03-05 .k-head {padding:0 24px;z-index:1;position: relative;}
    .esg-03-05 .k-head .k-desc {margin-top:30px;}
    .esg-03-05 .k-bottom {margin-top:-70px;position: relative;}
    .esg-03-05 .k-bottom .k-img {height:340px;}
    .esg-03-05 .k-bottom .k-txt {bottom:168px;}
    .esg-03-05 .k-bottom .k-txt .k-inner {max-width:323px;}
    
    /* .esg-03-05 .k-bottom .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:3px;background-color:#fff;} */
}







































































