.esg-02-01 {z-index:3;}
.esg-02-01 .k-section-inner {height:calc(100vh - 80px);}
.esg-02-01 .kv-item {position: relative; width:100%;height:calc(100vh - 80px);}
.esg-02-01 .kv-item:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(18, 31, 59, 0.5)}
.esg-02-01 .kv-item .esg-02-video {height:100%;display: flex;justify-content: center;align-items: center;}
.esg-02-01 .kv-item .esg-02-video:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 27%, rgba(0, 0, 0, 0) 83%);}
.esg-02-01.section-out .kv-item {opacity: 0;;}
.esg-02-video.horizon.pc {position:relative;opacity: 1;}
.esg-02-video.horizon.mobile {position: absolute;opacity: 0;}
.esg-02-video.vertical.pc {position: absolute;opacity: 0;}
.esg-02-video.vertical.mobile {position: relative;opacity: 1;}
.esg-02-video.mobile video {transform:scale(1.2);}
.device-type-pc .pc-view {display:block;}
.device-type-pc .m-view {display:none;}
.device-type-mobile .pc-view {display:none;}
.device-type-mobile .m-view {display:block;}
.esg-02-01 .kv-item .esg-02-video.horizon video {width:auto;height:calc(100vh - 82px);}
.esg-02-01 .kv-item .esg-02-video.horizon.gap-w video {width:100vw;height:auto;}
.esg-02-01 .kv-item .esg-02-video.vertical video {width:100vw;height:auto;}
.esg-02-01 .kv-item .esg-02-video.vertical.gap-h video {width:auto;height:calc(100vh - 82px);}
.esg-02-01 .k-txt {text-align:center;position: absolute; top:0px;left:0px;width:100%;height:calc(100vh - 82px);display:flex;align-items: center;justify-content: center;}
.esg-02-01 .k-txt .icon-list {display:flex;justify-content: center;margin-bottom:21px;}
.esg-02-01 .k-txt .icon-list .list-inner {display: flex;}
.esg-02-01 .k-txt .icon-list .item {margin:0 15px;}
.esg-02-01 .k-txt .k-text {padding:0 24px;}
.esg-02-01.section-out .k-down-wrap {display:none;}
.section-end .k-down-wrap {display:none;}

/*  */
.esg-02-02 {position: relative;}
.esg-02-02 .k-img {position: absolute;top:0px;left:0px;width:100%;height:100vh;}
.esg-02-02 .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;}
.esg-02-02 .k-txt {position: relative; top:0px;left:0px;width:100%;height:calc(100vh);display:flex;align-items: center;justify-content: center;}
.esg-02-02 .k-txt .txt-inner {text-align:center;}
.esg-02-02 .k-txt .k-text {color:#fff;padding:0 24px;}
.esg-02-02 .k-title {}
.esg-02-02 .k-desc { margin-top:44px;display:flex;justify-content: center;}
.esg-02-02 .k-desc .k-inner {display:flex;align-items: flex-end;}
.esg-02-02 .k-desc span {display:inline-block}
.esg-02-02 .k-desc span:first-child {margin-right:15px;margin-bottom:13px;}
/*  */
.esg-02-03 {position: relative;}
.esg-02-03 .k-section-inner {height:calc(100vh + 1000px);background:#000;}
.esg-02-03 .k-img {position: absolute;top:0px;left:0px;width:100%;height:100vh;}
.esg-02-03 .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;}
.esg-02-03 .k-txt {position: absolute; top:0px;left:0px;width:100%;height:calc(100vh);display:flex;align-items: center;justify-content: center;}
.esg-02-03 .k-txt .txt-inner {text-align:center;max-width:800px;}
.esg-02-03 .k-txt .k-text {color:#fff;}
.esg-02-03 .k-txt.txt01 {transform:matrix(1,0,0,1,0,0); transition: all 0.25s;}
.esg-02-03 .k-txt.txt02 {transform:matrix(1,0,0,1,0,30);opacity: 0;transition: all 0.25s}
.esg-02-03.change .k-txt.txt01 {transform:matrix(1,0,0,1,0,-30);opacity: 0;}
.esg-02-03.change .k-txt.txt02 {transform:matrix(1,0,0,1,0,0);opacity: 1;}
.esg-02-03 .k-title {}
.esg-02-03 .k-desc {margin-top:18px;word-break: keep-all;}
.esg-02-03.section-top {}
.esg-02-03.section-top .k-img {position: fixed;}
.esg-02-03.section-top .k-txt {position: fixed;}
.esg-02-03.section-end .k-img {position: absolute;top:initial;bottom:0px;}
.esg-02-03.section-end .k-txt {position: absolute;top:initial;bottom:0px;}


.lang-en .esg-02-03 .k-txt .txt-inner {max-width:830px;}


/*  */
.esg-02-04 {position: relative;}
.esg-02-04 .k-img {position: absolute;top:0px;left:0px;width:100%;height:100vh;}
.esg-02-04 .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;}
.esg-02-04 .k-txt {position: relative; top:0px;left:0px;width:100%;height:calc(100vh);display:flex;align-items: center;justify-content: center;}
.esg-02-04 .k-txt .txt-inner {text-align:center;max-width:800px;}
.esg-02-04 .k-txt .k-text {}
.esg-02-04 .k-desc {margin-top:18px;word-break: keep-all;}
.esg-02-04 .k-title span {color:#bb1e4d;}
/*  */
.esg-02-05 {position: relative;}
.esg-02-05 .k-section-inner {height:calc(100vh + 3500px);}
.esg-02-05 .k-img {position: absolute;top:0px;left:0px;width:100%;height:100vh;}
.esg-02-05 .k-cont {position: absolute;top:0px;left:0px;width:100%;height:100vh;z-index:1;display:flex;align-items: center;justify-content: center;}
.esg-02-05 .k-cont .cont-inner {}
.pet-head {position: relative;z-index:1;transition: all 0.5s;}
.pet-valve {position: relative;transition: all 0.5s;}
.pet-body {position: relative;margin-top:-3px;transition: all 0.5s;}
.pet-body .body-img {transition: all 0.5s;}
.pet-strow {position: absolute;top:0px;left:0px;transition: all 0.5s;}
.esg-02-05 .pet-valve {}
.esg-02-05 .pet-valve img {position: absolute;top:0px;transition: all 0.5s;}
.esg-02-05.step0 .pet-body {margin-top:47px;}
.esg-02-05.step0 .pet-valve {margin-top:calc(49px + 65px + 47px);}
.esg-02-05.step0 .pet-valve img {top:calc(-47px - 65px);}
.esg-02-05 .pet-valve .mark {opacity: 0;;}
.esg-02-05.section-top .k-img {position: fixed;;}
.esg-02-05.section-top .k-cont {position: fixed;;}
.esg-02-05 .k-cont .k-txt {position: relative;display:flex;justify-content: center;top:-50px}
.esg-02-05 .k-cont .k-txt dl {transform: matrix(1,0,0,1,0,20); opacity: 0;text-align:center;position:absolute;width:315px;background:#00562a;color:#fff;padding:32px;border-radius:0 24px 0 24px;box-shadow: 10px 10px 30px 0 rgba(25, 25, 25, 0.2);transition: all 0.5s;}
.esg-02-05 .k-cont .k-txt dl.step4 {background:#8f0b33;}
.esg-02-05.step1 .k-cont .k-txt dl.step1 {opacity: 1;transform: matrix(1,0,0,1,0,0);}
.esg-02-05.step2 .k-cont .k-txt dl.step2 {opacity: 1;transform: matrix(1,0,0,1,0,0);}
.esg-02-05.step3 .k-cont .k-txt dl.step3 {opacity: 1;transform: matrix(1,0,0,1,0,0);}
.esg-02-05.step4 .k-cont .k-txt dl.step4 {opacity: 1;transform: matrix(1,0,0,1,0,0);}

.esg-02-05.step2 .k-cont .k-txt dl.step1 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05.step3 .k-cont .k-txt dl.step1 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05.step3 .k-cont .k-txt dl.step2 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05.step4 .k-cont .k-txt dl.step1 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05.step4 .k-cont .k-txt dl.step2 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05.step4 .k-cont .k-txt dl.step3 {opacity: 0;transform: matrix(1,0,0,1,0,20);}
.esg-02-05 .k-cont .k-txt dl dd {margin-top:8px;}
.esg-02-05.step1 .pet-valve {opacity: 0.2;}
.esg-02-05.step1 .pet-body {opacity: 0.2;}
.esg-02-05.step2 .pet-head {opacity: 0.2;}
.esg-02-05.step2 .pet-valve {opacity: 0.2;}
.esg-02-05.step2 .pet-body {opacity: 1;}
.esg-02-05.step2 .body-img {opacity: 0.2;}
.esg-02-05.step3 .pet-head {opacity: 0.2;}
.esg-02-05.step3 .pet-valve {opacity: 0.2;}
.esg-02-05.step3 .pet-body {opacity: 1;}
.esg-02-05.step3 .body-img {opacity: 1;}
.esg-02-05.step3 .pet-strow {opacity: 0.2;}
.esg-02-05.step4 .pet-head {opacity: 0.2;}
.esg-02-05.step4 .pet-valve {opacity: 1;}
.esg-02-05.step4 .pet-body {opacity: 1;}
.esg-02-05.step4 .body-img {opacity: 0.2;}
.esg-02-05.step4 .pet-strow {opacity: 0.2;}
.esg-02-05.step4 .pet-valve .mark {opacity: 1;;transition-delay: 0.5s;}
/*  */
.esg-02-06 {}
.esg-02-06 .k-section-inner {width:100%;height:calc(100vh);min-height:1080px;background:#fff;}
.esg-02-06 .k-cont {}
.esg-02-06 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-02-06 .k-cont .k-left {position:relative;width:50%;height:100vh;}
.esg-02-06 .k-cont .k-left .k-img {position: absolute;top:0px;left:0px;bottom:0px;width:100vw;}
.esg-02-06 .k-cont .k-right {width:50%;display:flex;align-items: center;background-color:#8f0b33;position: relative;z-index:1;}
.esg-02-06 .k-cont .k-right .k-txt {padding-left:100px;padding-right:34px;color:#fff;}
.esg-02-06 .k-cont .k-right .k-txt .k-desc {margin-top:40px;}
.esg-02-06 .k-cont .k-right .k-txt .k-text {width:500px;}
/*  */
.esg-02-07 {position: relative;}
.esg-02-07 .k-section-inner {padding:120px 0 120px 0;background:#f9f9f9;}
.esg-02-07 .k-top {text-align:center;display:flex;justify-content: center;}
.esg-02-07 .k-top .k-text {max-width:800px}
.esg-02-07 .k-top .k-text span {color:#767676;}
.esg-02-07 .k-center {position: relative; display:flex;justify-content: center;margin-top:60px;}
.esg-02-07 .k-center .center-inner {width:594px;position: relative;}
.esg-02-07 .k-center .center-inner:before {content:"";position: absolute;top:calc(50% - 240px);left:calc(50% - 246px);width:480px;height:453px;
    background:url("data:image/svg+xml, %3Csvg width='480' height='453' viewBox='0 0 480 453' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23jnu3duugia)' fill='%23F5F4EB'%3E        %3Cpath d='m170.584 248.56-56.405-90.708L0 167.191l33.743 16.093s-22.35 45.385-28.607 70.973c-6.257 25.587 38.07 97.338 74.273 135.408 0 0 11.86-64.28 21.821-84.887l33.805-73.183 35.549 16.965zM177.463 163.767 73.307 101.354l59.082-91.206a17.838 17.838 0 0 1 9.619-7.284c7.533-2.397 20.327-5.012 31.004-.094 16.218 7.502 57.4 53.666 57.4 53.666l-52.949 107.331z'/%3E        %3Cpath d='M192.965 0h134.163s15.596-.965 53.666 62.07l31.813-13.105-51.175 98.584H241.65l34.303-19.362S278.444 101.354 192.965 0zM327.751 198.101l49.712 81.837a18.77 18.77 0 0 0 12.576 8.716c18.397 3.424 62.008 5.136 89.961-46.382 0 0-3.735-29.478-48.654-103.284l-103.595 59.113z'/%3E        %3Cpath d='m317.136 297.93-2.895.187-.84-43.86-58.023 102.941 61.758 95.471-.653-34.583c14.132-.748 50.926-2.833 62.443-5.355 14.35-3.112 34.926 1.868 97.899-137.151-.965 2.023-16.342 27.735-159.689 22.35zM116.202 300.42s-48.653 76.14 0 117.946h120.436V300.42H116.202z'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='jnu3duugia'%3E            %3Cpath fill='%23fff' d='M0 0h480v452.7H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E") 0 0 no-repeat;;
    background-position: center center;background-size:contain
}
.esg-02-07 .k-center .center-inner .img-list {display:flex;justify-content: space-between;position: relative;z-index:1;;}
.esg-02-07 .k-center .k-txt {position: absolute;top:0px;left:0px;width:100%;height:100%;display:flex;justify-content: center;align-items: center;z-index:2;}
.esg-02-07 .k-center .k-txt .txt-inner {text-align:Center;color:#00562a;}
.esg-02-07 .k-center .k-txt .st2 {margin-top:8px;}
.esg-02-07 .k-bottom {display:flex;justify-content: center;margin-top:60px;}
.esg-02-07 .k-bottom .k-text {max-width:800px;text-align:Center;}
.esg-02-07 .k-bottom .k-text span {color:#00562a;}
/*  */
.esg-02-08 {}
.esg-02-08 .k-section-inner {width:100%;height:calc(100vh + 300px);min-height:1080px;}
.esg-02-08 .k-cont {}
.esg-02-08 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-02-08 .k-cont .k-left {flex:1 auto;display:flex;align-items: center;background-color:#f5f4eb;justify-content: flex-end;}
.esg-02-08 .k-cont .k-left .k-txt {max-width:500px;width:100%;padding-right:100px;padding-left:34px;}
.esg-02-08 .k-cont .k-left .k-txt .k-desc {margin-top:40px;}
.esg-02-08 .k-cont .k-left .k-title {color:#191919;}
.esg-02-08 .k-cont .k-left .k-title span {color:#00562a}
.esg-02-08 .k-cont .k-left .k-title strong {color:#008742;}
.esg-02-08 .k-cont .k-left .k-desc {color:#505050;}
.esg-02-08 .k-cont .k-right {width:0px;position:relative;width:50%;height:100vh;transition: all 0.25s;}
.esg-02-08 .k-cont .k-right .k-img {position: absolute;top:0px;left:0px;right:0px;bottom:0px;;}
.esg-02-08.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-02-08.section-end .k-cont {position: absolute;top:initial;bottom:0px;}

/*  */
.esg-02-09 {}
.esg-02-09 .k-section-inner {width:100%;height:calc(100vh + 300px);min-height:1080px;}
.esg-02-09 .k-cont {}
.esg-02-09 .k-cont .cont-inner {display:flex;width:100vw;}
.esg-02-09 .k-cont .k-left {width:0px;position:relative;width:50%;height:100vh;transition: all 0.25s}
.esg-02-09 .k-cont .k-left .k-img {position: absolute;top:0px;left:0px;right:0px;bottom:0px;}
.esg-02-09 .k-cont .k-right {flex:1 auto;display:flex;align-items: center;background-color:#00562a;}
.esg-02-09 .k-cont .k-right .k-txt {max-width:500px;width:100%;padding-left:100px;padding-right:34px;}
.esg-02-09 .k-cont .k-right .k-txt .k-desc {margin-top:40px;}
.esg-02-09.section-top .k-cont {position:fixed;top:0px;left:0px;}
.esg-02-09.section-end .k-cont {position: absolute;top:initial;bottom:0px;}


@media screen and (max-width: 1200px) {
    .k-down-wrap {bottom:100px;}
    .esg-02-01 .k-section-inner {height:calc(100vh - 60px)}
    .esg-02-01 .kv-item {height:calc(100vh - 60px)}
    .esg-02-01 .k-txt .icon-list {margin-bottom:16px;}
    .esg-02-02 .k-desc {margin-top:38px;}
    .esg-02-02 .k-desc span.st1 {margin-bottom:16px;}
    .esg-02-02 .k-desc span.st2 {font-size:128px;line-height:128px;}
    .esg-02-03 .k-txt .txt-inner {max-width:640px;}
    .esg-02-03 .k-desc {margin-top:16px;}
    .esg-02-04 .k-txt .txt-inner {max-width:640px;}
    .esg-02-04 .k-desc {margin-top:24px;}

    .esg-02-06 .k-section-inner {height:initial}
    .esg-02-06 .k-cont .cont-inner {display:block;}
    .esg-02-06 .k-cont .k-left {width:100%;height:683px;}
    .esg-02-06 .k-cont .k-left .k-img {width:150vw;background-position: center;}
    .esg-02-06 .k-cont .k-right {width:100%;height:683px;}
    .esg-02-06 .k-cont .k-right .k-txt {padding:0px;width:100%;display:flex;justify-content: center;}
    .esg-02-06 .k-cont .k-right .k-txt .k-desc {margin-top:32px;}
    .esg-02-06 .k-cont .k-right .k-txt .k-text {width:590px;}

    .esg-02-07 .k-section-inner {padding:140px 0;}
    .esg-02-07 .k-center {margin-top:180px;}
    .esg-02-07 .k-bottom {margin-top:180px;}


    .esg-02-08 .k-section-inner {height:initial;min-height:initial}
    .esg-02-08 .k-cont {position: relative !important;}
    .esg-02-08 .k-cont .cont-inner {flex-direction: column-reverse;}
    .esg-02-08 .k-cont .k-left {width:100% !important;height:683px;}
    .esg-02-08 .k-cont .k-right {width:100% !important;height:683px;}
    .esg-02-08 .k-cont .k-left .k-txt {max-width:initial;padding:0px;width:100%;display:flex;justify-content: center;}
    .esg-02-08 .k-cont .k-left .k-txt .txt-inner {max-width:640px;}

    .esg-02-09 .k-section-inner {height:initial;min-height:initial}
    .esg-02-09 .k-cont {position: relative !important;}
    .esg-02-09 .k-cont .cont-inner {flex-direction: column;}
    .esg-02-09 .k-cont .k-left {width:100% !important;height:683px;}
    .esg-02-09 .k-cont .k-right {width:100% !important;height:683px;}
    .esg-02-09 .k-cont .k-right .k-txt {max-width:640px;}
    .esg-02-09 .k-cont .k-right .k-txt {max-width:initial;padding:0px;width:100%;display:flex;justify-content: center;}
    .esg-02-09 .k-cont .k-right .k-txt .txt-inner {max-width:640px;}

    .esg-02-08 .k-cont .k-left .k-txt .k-desc {margin-top:32px}
    .esg-02-09 .k-cont .k-right .k-txt .k-desc {margin-top:32px;}
}

@media screen and (max-width: 768px) {
    .esg-02-01 .k-txt .txt-inner {padding:0 48px;box-sizing: border-box;}
    .esg-02-01 .k-txt .icon-list {margin-bottom:9px;}
    .esg-02-01 .k-txt .icon-list .item {margin:0px 3px;}
    .esg-02-01 .k-txt .icon-list .item svg {transform: scale(0.65);}
    .esg-02-01 .k-txt .k-text {word-break: keep-all;}
    .esg-02-01 .k-txt .k-text br {display:none;}
    .k-down-wrap {bottom:60px;}
    /*  */
    .esg-02-02 .k-desc {margin-top:26px;}
    .esg-02-02 .k-desc span.st2 {font-size:80px;line-height:80px;}
    .esg-02-02 .k-desc span.st1 {margin-right:10px;margin-bottom:8px;}
    /*  */
    .esg-02-03 .k-title {padding:0 24px;word-break: keep-all;}
    .esg-02-03 .k-desc {padding:0 58px;word-break: keep-all;}
    /*  */
    .esg-02-04 .k-txt .txt-inner {padding:0 24px;}
    .esg-02-04 .k-desc {margin-top:32px;}
    /*  */
    .esg-02-05 .k-cont .cont-inner .k-pet img {width:80px;}
    .esg-02-05.step0 .pet-body {margin-top:24px;}
    .esg-02-05.step0 .pet-valve img {top:calc(-25px - 32px)}
    .esg-02-05.step0 .pet-valve {margin-top:calc( 58px + 25px)}
    .esg-02-05 .k-cont .k-txt dl {padding:24px;box-sizing: border-box;width:312px;border-radius:0 12px 0 12px;}
    /*  */
    .esg-02-06 .k-cont .k-right .k-txt .k-text {width:100%;padding:0 40px;box-sizing: border-box;word-break: keep-all;}
    /*  */
    .esg-02-07 .k-section-inner {padding: 60px 0;}
    .esg-02-07 .k-top {padding:0 24px;}
    .esg-02-07 .k-top br {display:none}
    .esg-02-07 .k-center {margin-top:60px;}
    .esg-02-07 .k-center .center-inner {width:270px;}
    .esg-02-07 .k-center .center-inner .img-list img {height:214px;width:auto;}
    .esg-02-07 .k-center .center-inner:before {content:"";width:204px;height:193px;top:calc(50% - 96px);left:calc(50% - 102px)}
    .esg-02-07 .k-bottom {margin-top:60px;padding:0 24px;}
    .esg-02-07 .k-center .k-txt .txt-inner .k-text {}
    /*  */
    .esg-02-08 .k-cont .k-left .k-txt {padding:0 24px;box-sizing: border-box;word-break: keep-all;}
    .esg-02-09 .k-cont .k-right .k-txt {padding:0 24px;box-sizing: border-box;word-break: keep-all}
}






























































































































































