
body {min-width:320px;}
.k-body {position:relative;overflow:hidden;height:100%;padding-top:82px;}
.k-section {position:relative;z-index:2;}
.k-section .k-section-inner {overflow:hidden;}

.cm-inner {position:relative;display:flex;justify-content: center;}
.cm-inner .k-center {max-width:1200px;width:100%;}
.cm-center {max-width:1200px;width:100%;}


.k-body {display:none;}
.root.lang-ko .k-body.lang-ko {display:block;}
.root.lang-en .k-body.lang-en {display:block;}
.root.lang-cn .k-body.lang-cn {display:block;}
.root.lang-de .k-body.lang-de {display:block;}
.root.lang-en .k-text {font-family: "Montserrat";letter-spacing: 0px !important;}
.root.lang-de .k-text {font-family: "Montserrat";letter-spacing: 0px !important;}

/*  */
.root .k-header .header-inner {display:none}
.root.lang-ko .k-header .lang-ko {display:flex;}
.root.lang-en .k-header .lang-en {display:flex;}
.root.lang-cn .k-header .lang-cn {display:flex;}
.root.lang-de .k-header .lang-de {display:flex;}

body.overflow-hidden {overflow:hidden;}

@media screen and (max-width: 1200px) {
    .k-body {padding-top:60px;}
}




/************************************************
 * swiper, pagination
**************************************************/
.k-pagination {justify-content: center;}
.swiper-pagination-bullets {}
.swiper-pagination-bullet {opacity:1;;background:#d8d8d8 !important;margin:0 5px;width:10px;height:10px;vertical-align: top;}
.swiper-pagination-bullet-active {background:#000 !important;}
@media screen and (max-width: 1200px) {
    .k-pagination {display:none;}
    .swiper-pagination-bullet {width:8px;height:8px;}
    .swiper-pagination-bullets {margin-top:40px;}
}

@media screen and (max-width: 768px) {
    .k-pagination {display:flex;}
    .swiper-pagination-bullet {width:7px;height:7px;}
    .swiper-pagination-bullets {margin-top:30px;}
}

/*********************************************************
 *  modal
*********************************************************/
.k-layer-modal {position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:10000;display:none;}
.k-layer-modal.on {display:block;}
.k-layer-modal .k-scroll {display:flex;justify-content: center;position:relative;z-index:1;overflow-y:auto;height:100%;box-sizing:border-box;}
.k-layer-modal .layer-inner {max-width:1200px;padding:100px 0;width:100%;height:fit-content; box-sizing:border-box;}
.k-layer-modal .k-dim {position:fixed;top:0px;left:0px;right:0px;bottom:0px;-webkit-backdrop-filter: blur(30px);backdrop-filter: blur(30px);background:rgba(0, 0, 0, 0.6)}
.k-layer-modal .k-layer-header {position:relative;z-index:2;}
.k-layer-modal .k-modal-close {position:absolute;top:50px;right:64px;width:42px;height:42px;border-radius:50%;background:#fff;display:flex;align-items: center;justify-content: center; z-index:1;}
.k-layer-modal .k-layer-body {padding:0;}
.k-layer-modal .k-modal-close {transition:none;}
.fixed-header .k-layer-modal.on {display:none;}

@media screen and (max-width: 1200px) {
    .k-layer-modal .k-modal-close {width:36px;height:36px;top:20px;right:24px;}
    .k-layer-modal .layer-inner {padding:100px 34px;}
    .k-layer-modal.sort-by  .layer-inner {padding:100px 50px;}
}
@media screen and (max-width: 768px) {
    .k-layer-modal .layer-inner {padding:0px;}
    .k-layer-modal .k-modal-close {width:34px;height:34px;}
    .k-layer-modal .k-layer-body {padding-bottom:0px;}
    .k-layer-modal.sort-by  .layer-inner {padding:100px 20px;}
}
/*********************************************************************
 * MultiSelect
********************************************************************/
.MultiSelect {position:relative;display:inline-block;text-align:left;}
.MultiSelect .k-inner {position:relative;}
.MultiSelect .k-display {display:flex;justify-content: space-between; box-sizing: border-box;cursor:pointer;background:#fff;}
.MultiSelect .k-display .k-left {display:flex;align-items: center;}
.MultiSelect .k-display .k-left .k-text {color:#a4a4a4;}
.MultiSelect .k-display .k-right {display:flex;align-items: center;padding-left:10px;}
.MultiSelect .k-display .k-right .k-icon {display:flex;align-items: center;margin-left:6px;}
.MultiSelect .k-display .k-right .k-name {}
.MultiSelect .k-display .k-right .k-count {display:none;}
.MultiSelect.count .k-display .k-right .k-name {display:none;}
.MultiSelect.count .k-display .k-right .k-count {display:block;}
/*  */
.MultiSelect.k-round .k-display {border:2px solid #d8d8d8;border-radius:30px;padding:0 20px;}
/*  */
.MultiSelect.type-select .k-display {padding:0 26px;}
.MultiSelect.no-border .k-display {border:0px;}
/* list */
.MultiSelect .k-list {top:50px;transform:matrix(1,0,0,1,0,0);display:none;position:absolute;border:1px solid #a4a4a4;padding:23px 27px 13px 27px;border-radius:10px;margin-top:8px;box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.1);border: solid 1px #f2f2f2;background:#fff;width:max-content;max-width:270px;min-width:200px;}
.MultiSelect .k-list .list-inner { padding-right:20px;overflow-y:auto;max-height:200px;}
.MultiSelect .k-list .list-item {margin-top:12px;}
.MultiSelect .k-list .list-item:first-child {margin-top:0px;}
.MultiSelect .k-list .list-inner::-webkit-scrollbar {width:6px;}
.MultiSelect .k-list .list-inner::-webkit-scrollbar-track {background-color: transparent;}
.MultiSelect .k-list .list-inner::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #a4a4a4;}
.MultiSelect .k-list .list-inner::-webkit-scrollbar-button {width: 0;height: 0;}
.MultiSelect.on .k-list {--display:block;transform:matrix(1,0,0,1,0,0);}


/* 리스트 옵션 오른쪽 정렬 */
.MultiSelect.dir-right {margin-right:0px;}
.MultiSelect.dir-right .k-list {right:0px;}
.MultiSelect.dir-right .k-display {background:none;}
/*  */
.MultiSelect .k-option {padding-top:10px;margin-top:20px;border-top:1px solid #d8d8d8;}
.MultiSelect .k-option .k-right button {margin-left:16px;}
/*  */
.MultiSelect .k-list .list-item .k-label {display:flex;}
.MultiSelect .k-list .list-item .k-label .k-text {white-space: nowrap;text-overflow: ellipsis;width:100%;overflow:hidden;;}




@media screen and (max-width: 1200px) {
    .MultiSelect .k-display .k-text {font-size:14px;white-space: nowrap;}
    .MultiSelect.on .k-list {display:none;}
    .MultiSelect .k-list .list-item {margin-top:14px;}
    .MultiSelect .k-list .list-item .k-label .k-text {line-height:23px;font-size:14px;}
}
@media screen and (max-width: 768px) {
    .MultiSelect.k-round .k-display {padding: 0 17px;}
    .MultiSelect {position:static}
    .MultiSelect.on .k-list {display:none;}
    .MultiSelect .k-list {padding:23px 17px 15px 17px;display:none;}
    .MultiSelect.on.dir-right .k-list {left:inherit;right:20px;}
}



/*********************************************************************
 * Radio
********************************************************************/
.Radio {position:relative;cursor:pointer;}
.Radio .k-input {position:absolute;top:0px;left:0px;box-sizing:border-box;opacity:0;}
.Radio .k-input[checked="checked"] + .k-label {opacity:1;}
.Radio .k-input:checked + .k-label {color:#00adef;}
.Radio .k-input:checked + .k-label .Text {color:#00adef;}
.Radio .k-input:checked + .k-label svg .circle {fill:#00adef !important;}
.Radio .k-label {height:24px;line-height:24px;color:inherit;cursor:pointer;}
.Radio .k-icon {display:inline-block;vertical-align:top;width:24px;height:24px;margin-right:8px;background-size:cover;}
.Radio .k-label .Text {display:inline-block;margin-top:-1px;}
.Radio .k-label .point {cx:3px;cy:3px;r:8px;transition:all 0.25s}
.Radio .k-input:checked + .k-label .point {cx:3px;cy:3px;r:4px;transform:translate(8 8)}
/*********************************************************************
 * CheckBox
********************************************************************/
.CheckBox {position:relative;cursor:pointer;}
.CheckBox .k-input {position:absolute;top:0px;left:0px;box-sizing:border-box;opacity:0;}
.CheckBox .k-input[checked="checked"] + .k-label {opacity:1;}
.CheckBox .k-input:checked + .k-label {}
.CheckBox .k-input:checked + .k-label .Text {}
.CheckBox .k-label {height:32px;line-height:32px;color:inherit;display: flex;align-items: center;}
.CheckBox .k-icon {display:inline-block;vertical-align:top;width:32px;height:32px;margin-right:8px;}
.CheckBox .k-icon .normal {}
.CheckBox .k-icon .active {display:none;}
.CheckBox .k-input:checked + .k-label .k-icon .normal {display:none;}
.CheckBox .k-input:checked + .k-label .k-icon .active {display:inline-block;;}
.CheckBox .k-label .k-text {margin-top:-2px;cursor:pointer;}
.k-require .CheckBox .k-label {color:#272727}




.k-radius-10 {border-radius:10px;}

/*********************************************************************
 * k-btn
********************************************************************/
.k-btn {box-sizing: border-box;transition:all 0.25s}
.k-btn button {display:flex;align-items: center;width:100%;height:100%;line-height:inherit !important;}
.k-btn button .k-text {transition:all 0.25s}
.k-btn button .k-icon {display:flex;align-items: center;}
.k-btn button .k-text + .k-icon {padding-left:6px;}

.k-btn a {display:flex !important;align-items: center;width:100%;height:100%;line-height:inherit !important;box-sizing:border-box;}
.k-btn a .k-text {}
.k-btn a .k-icon {display:flex;align-items: center;}
.k-btn a .k-text + .k-icon {padding-left:6px;}

/* color */
.k-btn.k-grey-1 {color:rgba(25, 25, 25, 0.5)}
.k-btn .k-grey {color:#8e8e8e;}
.k-btn.k-primary {color:#bb1e4d;}
.k-btn .k-primary {color:#bb1e4d;}
/* outline */
.k-btn.k-outline.k-grey-1 {border:1px solid rgba(25, 25, 25, 0.5);}
.k-btn.k-outline.k-grey-3 {border:1px solid #191919;}

.k-btn.k-outline.k-primary {border:1px solid #bb1e4d;}
.k-btn.k-outline.k-primary .k-text {color:#bb1e4d;}
/* round */
.k-btn.k-round {padding:0px 24px;}
.k-btn.k-round button .k-text + .k-icon {margin-right:-8px;}
.k-btn.k-round a .k-text + .k-icon {margin-right:-8px;}
/* radius */
.k-btn.k-radius-30 {border-radius:30px;}
.k-btn.k-radius-40 {border-radius:40px;}


/*  */
.device-type-pc .k-btn.k-outline:hover {border:1px solid #bb1e4d;background:#bb1e4d;}
.device-type-pc .k-btn.k-outline:hover .k-text {color: #fff;}
.device-type-pc .k-btn.k-outline:hover .k-icon svg path {fill: #fff;}

/*  */
.device-type-pc .k-btn.k-outline.k-white:hover {border:1px solid #bb1e4d;background:#bb1e4d;}
.device-type-pc .k-btn.k-outline.k-white:hover .k-text {color: #fff;}
.device-type-pc .k-btn.k-outline.k-white:hover .k-icon svg path {fill: #bb1e4d;}
/*  */
.device-type-pc .k-btn.k-outline.k-primary:hover {border:1px solid #bb1e4d;background:#bb1e4d;}
.device-type-pc .k-btn.k-outline.k-primary:hover .k-text {color: #fff;}
.device-type-pc .k-btn.k-outline.k-primary:hover .k-icon svg path {fill: #fff;}
/*  */
.k-btn.k-fill.k-primary {border:1px solid #bb1e4d;}
.device-type-pc .k-btn.k-fill.k-primary:hover {border:1px solid #8f0b33;background:#8f0b33;}
.device-type-pc .k-btn.k-fill.k-primary:hover .k-text {color: #fff;}
.device-type-pc .k-btn.k-fill:hover {border:1px solid #8f0b33;background:#8f0b33;}
.device-type-pc .k-btn.k-fill:hover .k-text {color: #fff;}

@media screen and (max-width: 1200px) {
    .k-btn.k-round {padding:0px 19px;}
}
@media screen and (max-width: 768px) {
    .k-btn.k-round {padding:0px 19px;}
}


.k-btn.k-fill {background:#bb1e4d;}
.k-btn.k-fill .k-text {color:#fff;}

.k-btn.k-fill.k-grey {background:#f2f2f2;}
.k-btn.k-fill.k-grey .k-text {color:#272727}

.k-btn.k-fill.k-dark {background:#272727;}
.k-btn.k-fill.k-dark .k-text {color:#ffff}

.k-btn.k-underline {position: relative;}
.k-btn.k-underline:after {content:"";position:absolute;bottom:-4px;left:0px;width:100%;height:2px;}
.k-btn.k-underline.k-grey:after {content:"";background:#8e8e8e}
/*  */
.k-btn.k-disable {}
.k-btn.k-disable.k-fill {background:#f6f6f6;border:1px solid #f6f6f6 !important;}
.k-btn.k-disable.k-fill .k-text {color:#aaa;}
.k-btn.k-disable.k-fill:hover {background:#f6f6f6 !important;border:1px solid #f6f6f6 !important;}
.k-btn.k-disable.k-fill:hover .k-text {color:#aaa !important;}




/*  */
.k-input-text {overflow:hidden;}
.k-input-text input {height:100%;border:1px solid #f00;width:100%;}
.k-input-text a {display:flex;align-items: center;height:100%;line-height:inherit !important;}

/* color */
.k-input-text.k-grey {color:#8e8e8e;}
.k-input-text .k-grey {color:#8e8e8e;}
.k-input-text.k-primary {color:#bb1e4d;}
.k-input-text .k-primary {color:#bb1e4d;}
/* outline */
.k-input-text.k-outline.k-grey {border:1px solid #8e8e8e;box-sizing:border-box;}
.k-input-text.k-outline.k-grey-a4 {border:1px solid #a4a4a4;box-sizing:border-box;}
.k-input-text.k-outline.k-grey-a4 .k-text {color:#a4a4a4}
/* round */
.k-input-text.k-round {padding:0px 16px;}
.k-input-text.k-round button .k-text + .k-icon {margin-right:-8px;}
/* radius */
.k-input-text.k-radius-30 {border-radius:30px;}
.k-input-text.k-radius-40 {border-radius:40px;}

/*  */
.k-require-wrap {display:none;}
.k-require .k-require-wrap {display:block;}
.k-require .k-input-text {border:1px solid #eb2323 !important;}

@media screen and (max-width: 1200px) {
    .k-input-text.k-round {padding:0px 19px;}
}
@media screen and (max-width: 768px) {
    .k-input-text.k-round {padding:0px 19px;}
}


/*  */
.k-input {}
.k-input .k-require-wrap {margin-top:6px;}






/*********************************************************************
 * editor
********************************************************************/
.k-editor {display:flex;justify-content: center;}
.k-editor h1 {font-size:30px;line-height:26px;}
.k-editor h2 {font-size:28px;line-height:38px;}
.k-editor h3 {font-size:24px;line-height:34px;}
.k-editor h4 {font-size:20px;line-height:30px;}
.k-editor h5 {font-size:16px;line-height:26px;}
.k-editor h6 {font-size:14px;line-height:24px;}

.k-editor h1 span {font-size:30px !important;line-height:26px !important;}
.k-editor h2 span {font-size:28px !important;line-height:38px !important;}
.k-editor h3 span {font-size:24px !important;line-height:34px !important;}
.k-editor h4 span {font-size:20px !important;line-height:30px !important;}
.k-editor h5 span {font-size:16px !important;line-height:26px !important;}
.k-editor h6 span {font-size:14px !important;line-height:24px !important;}

.k-editor .k-editor-inner {font-size:20px;line-height:30px;text-align:initial }
.k-editor .k-editor-inner .k-pc {}
.k-editor .k-editor-inner .k-mobile {display:none;}
@media screen and (max-width: 1200px) {
    .k-editor .k-editor-inner .k-pc {display:none;}
    .k-editor .k-editor-inner .k-mobile {display:block;;}
}
.k-editor ul {padding:0 20px;}
.k-editor ul li {list-style: disc;text-align:left;}
.k-editor img {width:100% !important;height:auto !important}
.k-editor video {width:100%;}

.k-editor .k-pc {display:block;}
.k-editor .k-mobile {display:none;}
.k-editor a {text-decoration: underline;color:#00adef;font-size:inherit;}




input[type="text"] {border:0px solid #ededed;}


/*********************************************************************
 * auto search
********************************************************************/
.Search {position:relative;width:100%;}
.Search .k-inner {position:relative;}
.Search .k-display {display:flex;box-sizing: border-box;cursor:pointer;overflow:hidden;}
.Search .k-display .k-left {display:flex;align-items: center;}
.Search .k-display .k-left .k-text {color:#a4a4a4;}
.Search .k-display .k-center {display:flex;flex:1 auto;align-items: center;height:100%;}
.Search .k-display .k-center .input-wrap {width:100%;height:100%;}
.Search .k-display .k-center .input-wrap input {width:100%;height:100%;font-size:18px;background:none;}
.Search .k-display .k-center .input-wrap input::placeholder {font-size:18px;color:#aaaaaa;font-weight:normal}
.Search .k-display .k-right {padding-left:16px;}
.Search .k-display .k-right .k-btn {display:none;}
.Search .k-display .k-right .k-btn button {width:24px;height:24px;background:#8e8e8e;border-radius:50%;display:flex;align-items: center;justify-content: center;}
.Search.on .k-display .k-right .k-btn {display:block;}
.Search.active .k-display .k-right .k-btn {display:block;}
/*  */
.Search.k-round .k-display {background:#fff; border:1px solid #e7e7e7;padding:0 22px;box-shadow: 10px 10px 30px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #e7e7e7;}
.Search .k-list .list-inner::-webkit-scrollbar {width:6px;}
.Search .k-list .list-inner::-webkit-scrollbar-track {background-color: transparent;}
.Search .k-list .list-inner::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #a4a4a4;}
.Search .k-list .list-inner::-webkit-scrollbar-button {width: 0;height: 0;}


.Search.k-round .k-display.border-radius-30 {border-radius:30px;}
.Search.k-round .k-display.border-radius-40 {border-radius:40px;}


/*  */
.Search .k-list {transform:matrix(1,0,0,1,0,0);position:absolute;
    border:1px solid #a4a4a4;padding:23px 27px 15px 74px;padding:0px;border-radius:8px;
    margin-top:8px;box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0);background:#fff;
    width:max-content;width:100%;box-sizing: border-box;
    opacity:0;
    transition:all 0.25s
}
.Search .k-list .list-inner {overflow-y:auto;max-height:0px;opacity:0;transition:all 0.25s}
.Search.on .k-list .list-inner {max-height:226px;opacity:1;}



.Search.on .k-list {display:block;transform:matrix(1,0,0,1,0,0);opacity: 1;border: solid 1px #f2f2f2;}
.Search.dir-right {margin-right:0px;}
.Search.dir-right .k-list {right:0px;}
/*  */
.Search .k-option {margin-top:20px;padding-top:10px;border-top:1px solid #d8d8d8;}
.Search .k-option .k-right button {margin-left:10px;}
/*  */
.Search .k-list .list-item .k-label {white-space: nowrap;display:block;text-overflow: ellipsis;width:100%;overflow:hidden;;}

@media screen and (max-width: 768px) {
    .Search.k-round .k-display {padding: 0 15px;height:56px;line-height: 56px;;}
    .Search .k-display .k-center {padding-left:6px;}
    .Search .k-display .k-center .k-name {display:none;}
    .Search .k-display .k-center .k-count {display:block;}
    .Search {position:static}
    .Search .k-display .k-left svg {width:24px;height:24px;}

    .modal-inquiry .Search .k-display .k-center .k-name {display:block;}
}

.Search {}
.Search .k-require-wrap {display:none;}
.Search.k-require .k-require-wrap {display:block;}
.Search.k-require.k-round .k-display {border:1px solid #eb2323;}




.Search.form {}
.Search.form .k-inner {}
.Search.form .k-display {border:1px solid #e7e7e7;border-radius:8px;padding:0 16px;}
.Search.form .k-display .k-center {flex:1 auto;}
.Search.form .k-display .k-right {margin-left:0px;flex:none;width:inherit;}
.Search.form .k-display .k-right .k-btn {display:block;width:24px;}
.Search.form .k-display .k-right .k-btn button {background:none;}
.Search.form .k-list {margin-top:8px;display:block;z-index:11;}
.Search.form .k-list .list-inner {margin:0px;}

.lang-de .Search.form .k-display .k-right {flex:1 auto;}
.lang-de .Search.form .k-display .k-right .k-text {word-break: break-all;}


.Search .k-list .list-item {padding:0 16px;display:flex;justify-content: space-between;}
.Search .k-list .list-item .k-text {height:56px;line-height:56px;}
.Search .k-list .list-item:hover {background:#fbf3f6;}
.Search .k-list .list-item:hover .k-text {color:#bb1e4d;}
.Search .k-list .list-item .k-right {display:flex;align-items: center;width:24px;;}
.Search .k-list .list-item .k-right svg {display:none;}
.Search .k-list .list-item:hover .k-right svg {display:block;}
.Search.form input:hover  {cursor:pointer}
.Search.form.on .k-display .k-right .k-btn button svg {transform:rotate(180deg)}
.Search.form.on .k-display {border:1px solid #bb1e4d;}



@media screen and (max-width: 1200px) {
    .Search.form .k-display {height:44px;line-height:44px;}
    .Search.form .k-display .k-right {margin:0px;}
    .Search.form .k-inner {min-width:100%;}
    .Search.form .k-list {padding:0px;}
    .Search.form .k-list .list-inner {}
}
@media screen and (max-width: 768px) {
    .Search.form .k-display {border-radius:4px;}
    .Search .k-list .list-item .k-text {height:48px;line-height:48px;}
}


/*  */
.TextInput .text-inner {overflow:hidden;display:flex;justify-content: space-between;}
.TextInput .text-inner .k-left {flex:1 auto;}
.TextInput .text-inner .k-right {width:32px;display: flex;align-items: center;opacity: 0;}
.TextInput .text-inner .k-right button {cursor:default;}
.TextInput.focus .text-inner .k-right button {cursor:pointer;}
/* .TextInput.focus .text-inner .k-right {display:flex;opacity: 1;} */
.TextInput.active .text-inner .k-right {display:flex;opacity: 1;}
.TextInput .text-inner input {height:100%;width:100%;border:0px;}
.TextInput .text-inner input::placeholder {font-size:18px;}
.TextInput .text-inner a {display:flex;align-items: center;height:100%;line-height:inherit !important;}
.TextInput.focus {}
.TextInput.focus .text-inner {border:1px solid #bb1e4d !important;}
/* color */
.TextInput .text-inner {background:#fff;}

/* outline */
.TextInput .text-inner {border:1px solid #e7e7e7;box-sizing:border-box;}

/* round */
.TextInput .text-inner.k-round {padding:0px 16px;}
.TextInput .text-inner.k-round button .k-text + .k-icon {margin-right:-8px;}
/* radius */
.TextInput .text-inner {border-radius:8px;}


/*  */

.TextInput.k-require .k-require-wrap {display:block;position:relative;}
.TextInput.k-require .k-require-wrap .k-text {}
.TextInput.k-require .text-inner {border:1px solid #eb2323 !important;}

@media screen and (max-width: 1200px) {
    .TextInput .text-inner.k-round {padding:0px 15px;}
}
@media screen and (max-width: 768px) {
    .TextInput .text-inner {height:48px;line-height:48px;border-radius:4px;}
    .TextInput .text-inner.k-round {padding:0px 15px;}
    .TextInput .text-inner input::placeholder {font-size:16px;}
}

/*  */
.TextInput {}
.TextInput .k-require-wrap {display:none;margin-top:6px;}


/*  */
.TextArea .text-inner {overflow:hidden;padding:16px 16px;box-sizing:border-box;border-radius: 8px;}
.TextArea .text-inner textarea {height:100%;width:100%;border:0px;}
.TextArea .text-inner a {display:flex;align-items: center;height:100%;line-height:inherit !important;}

/* outline */
.TextArea .text-inner {background:#fff;border:1px solid #e7e7e7;}
.TextArea .text-inner .k-text {color:#a4a4a4}

.TextArea.k-require .k-require-wrap {display:block;}
.TextArea.k-require .text-inner {border:1px solid #eb2323 !important;;}

/* radius */
.TextArea .text-inner.k-radius-10 {border-radius:10px;}
.TextArea .text-inner.k-radius-30 {border-radius:30px;}
.TextArea .text-inner.k-radius-40 {border-radius:40px;}
.TextArea.focus .text-inner {border:1px solid #bb1e4d !important;}
@media screen and (max-width: 1200px) {
    .TextArea .text-inner.k-round {padding:12px 16px;}
}
@media screen and (max-width: 768px) {
    .TextArea .text-inner.k-round {padding:12px 16px;}
}

/*  */
.TextArea {}
.TextArea .k-require-wrap {display:none;margin-top:6px;}







/*  */
.k-tab {height:38px;display:flex;justify-content: center;}
.k-tab .k-tab-inner {display:flex;width:100%;height:100%;max-width:1200px;box-sizing:border-box;}
.k-tab-item {position:relative;margin-left:24px;display:flex;align-items: center;z-index:1;}
.k-tab-item:after {content:"";position:absolute;bottom:0px;left:50%;width:0%;height:4px;background:#272727;transition:all 0.25s}
.k-tab-item:first-child {margin-left:0px;}
.k-tab-item .k-btn {padding-bottom:8px;}
.k-tab-item .k-btn .k-text {color:#a4a4a4;white-space: nowrap;}
.k-tab-item.on .k-btn .k-text {color:#272727;font-weight:600;}
.k-tab-item.on:after {content:"";width:100%;left:0px;}
.k-tab-item:hover .k-btn .k-text {color:#272727;font-weight:600;}
.k-tab-item:hover:after {content:"";width:100%;left:0px;}



/*  */
.k-controller .k-tab {}
.k-controller .k-tab .k-tab-inner {padding:0px;}


@media screen and (max-width: 1200px) {
    .k-tab .k-tab-inner {padding:0 70px;max-width:inherit;}
}

@media screen and (max-width: 768px) {
    .k-tab {width:100%;}
    .k-tab .k-tab-inner {justify-content: space-between;overflow-x:auto;padding:0 20px;}
    .faq-02 .k-tab-item {padding-bottom:10px;margin-right:20px;margin-left:0px;}
}



/*  */
.multiselect-option-content {background:#fff;border-radius:10px;box-shadow: 6px 5px 10px 0 rgb(0 0 0 / 10%);}
.option-header {padding:25px 20px 18px 20px;border-bottom:1px solid #d8d8d8;}
.option-body .k-list {}
.option-body .k-list .list-inner {padding:24px 20px 0px 20px;}
.option-body .k-list .list-item {margin-top:12px;}
.option-body .k-list .list-item:first-child {margin-top:0px;}
.option-body .k-list .list-inner::-webkit-scrollbar {width:6px;}
.option-body .k-list .list-inner::-webkit-scrollbar-track {background-color: transparent;}
.option-body .k-list .list-inner::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #a4a4a4;}
.option-body .k-list .list-inner::-webkit-scrollbar-button {width: 0;height: 0;}
/*  */
.option-body .k-option {padding:14px 20px 14px 20px;;margin-top:32px;border-top:1px solid #d8d8d8;}
.option-body .k-option .k-right button {margin-left:16px;}
/*  */
.option-body .k-list .list-item .k-label {display:flex;}
.option-body .k-list .list-item .k-label .k-text {white-space: nowrap;text-overflow: ellipsis;width:100%;overflow:hidden;font-weight: 500;}
.list-scroll::-webkit-scrollbar {width:6px;}
.list-scroll::-webkit-scrollbar-track {background-color: transparent;}
.list-scroll::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #a4a4a4;}
.list-scroll::-webkit-scrollbar-button {width: 0;height: 0;}
@media screen and (min-width: 1440px) {
    .option-list {position:absolute;right:initial;bottom:initial;}
    .option-list .k-dim {display:none;}
    .option-list.k-layer-modal .layer-inner {padding:0px;}
    .option-list .option-header {display:none;}
    .option-list .k-layer-header {display:none;}
    .option-list.k-layer-modal .k-scroll {overflow-y:initial}
    .list-scroll {overflow-y:auto;}
}
@media screen and (max-width: 1200px) {
    .option-list .multiselect-option-content {min-width: initial;}
    .option-list {left:0px !important;top:0px !important;}
    .option-list .k-scroll {align-items: center;padding:100px 0;}
    .option-list .k-scroll .layer-inner {padding:0px 0 0 0;max-height:100%}
    .list-scroll {max-height:initial !important; overflow-y:initial;}
}


/*************************************************************** 
*
***************************************************************/
.k-page-wrap {margin-top:30px;}
.k-page-wrap .k-btn button {border:1px solid #d8d8d8;border-radius:50%;box-sizing:border-box;width:48px;height:48px;margin-right:16px;display:flex;justify-content: center;align-items: center;background:#fff;}
.k-page-wrap .k-btn:hover button {box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);}
.k-page-wrap .k-page {display:none;}

.k-left-btn svg path {fill:#d8d8d8;transition:all 0.5s}
.k-right-btn svg path {fill:#d8d8d8;transition:all 0.5s}


.k-left-btn:hover svg path {fill:#000;}
.k-right-btn:hover svg path {fill:#000;}

.k-left-btn:hover button {border:1px solid #000;}
.k-right-btn:hover button {border:1px solid #000;}

.k-left-btn.on svg path {fill:#000;}
.k-right-btn.on svg path {fill:#000;}
.k-left-btn.on button {border:1px solid #000;}
.k-right-btn.on button {border:1px solid #000;}


.k-left-btn svg {transform: rotate(180deg);}

.k-round {border-radius:30px;}
.k-outline {border:1px solid #fff;}




/*  */
.modal-section-menu {height:0px;display:block;overflow:hidden;transition:height 0.5s}
.modal-section-menu.on {height:100%;}
.modal-section-menu .k-dim {display:none;background:none;backdrop-filter:none;-webkit-backdrop-filter:none;}
.modal-section-menu.on .k-dim {display: block;;}
.modal-section-menu .k-scroll {height:fit-content;background:rgba(0,0,0,0.26);-webkit-backdrop-filter: blur(30px);backdrop-filter:blur(30px)}
.modal-section-menu .layer-inner {padding:60px 0 calc(40px + 56px) 0;}
.modal-section-menu .menu-cont {text-align:center}
.modal-section-menu .menu-cont .k-head {}
.modal-section-menu .menu-cont .k-head .k-text {opacity:0.6;position:relative;display:inline-block;}
.modal-section-menu .menu-cont .k-head .k-text:after {content:"";position:absolute;bottom:-6px;left:0px;right:0px;height:2px;background:#fff;}
.modal-section-menu .menu-cont .k-list {margin-top:96px;}
.modal-section-menu .menu-cont .k-list .k-item {margin-top:60px;}
.modal-section-menu .menu-cont .k-list .k-item:first-child {margin-top:0px;}
.modal-section-menu .menu-cont .k-list .k-item .k-text{}
.modal-section-menu .k-layer-header {margin-top:180px;}
.modal-section-menu .k-layer-header button {width:56px;height:56px;background:#fff;border-radius:50%;top:0px;box-shadow:0 6px 14px 0 rgba(0, 0, 0, 0.12);border:0px;right:calc(50% - 28px);overflow:inherit;}

@media screen and (max-width: 1200px) {
    .modal-section-menu .menu-cont .k-list {margin-top:86px;}
    .modal-section-menu .k-layer-header {margin-top:220px;}
}
@media screen and (max-width: 768px) {
    .modal-section-menu .k-scroll {height:100vh;}
    .modal-section-menu .menu-cont .k-list {margin-top:66px;}
    .modal-section-menu .layer-inner {padding:60px 0 calc(24px + 56px) 0;display:flex;flex-direction: column;justify-content: space-between;height:100vh;box-sizing: border-box;}
    .modal-section-menu .k-layer-header {margin-top:0px;display:flex;justify-content: center;}
    .modal-section-menu .k-layer-header button {position:relative;right:inherit;top:inherit;width:52px;height:52px;}
}


.k-editor {}
.swiper-container.on {overflow:initial}

.k-history {display:flex;justify-content: center;position:relative;z-index:4;}
.k-history .history-inner {max-width:1200px;width:100%;display:flex;position:absolute;top:15px;}
.k-history .k-item {color:#767676;}
.k-history.k-white .k-item {color:#ffffff;}
.k-history.k-white .k-gap {color:#ffffff;}
.k-history .k-gap {padding:0 6px;}

@media screen and (max-width: 1288px) {
    .k-history {display:none;}
}

@media screen and (max-width: 768px) {

}




/*  */
.k-tooltip-wrap {position:relative;}
.k-tooltip {position: relative;display:flex;height:100%;}
.k-tooltip .k-btn {}
.k-tooltip .k-btn .k-text {width:84px;}
.k-tooltip .k-btn .k-icon {margin-right:2px;}
.k-tooltip .k-list {display:none;position:absolute;top:5px;right:0px;}
.k-tooltip .k-list .list-inner {width:110px;border:1px solid #bb1e4d;background:#fff;border-radius:10px;padding:12px;box-sizing: border-box;}
.k-tooltip .k-list a {display:block;line-height:34px;height:34px;text-align: center;margin-top:4px;}
.k-tooltip .k-list a:hover {font-weight: 700;;color:#bb1e4d;}
.k-tooltip .k-list a:first-child {margin-top:0px;}
.k-tooltip-wrap.on .k-list {display:block;}
.k-tooltip-wrap.on .k-btn .k-icon svg {transform: rotate(180deg);}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {

}


.error-01 {display:flex;justify-content: center;align-items: center;min-height:calc(100vh - 82px);}
.error-01 .k-section-inner {max-width:1200px;width:100%;padding:0 34px;}
.error-01 .k-cont {display:flex;}
.error-01 .k-cont .k-left {width:50%;text-align:center;}
.error-01 .k-cont .k-left img {width:100%;}
.error-01 .k-cont .k-right {width:50%;padding-left:32px; display:flex;align-items: center;;}
.error-01 .k-cont .k-right .k-title {}
.error-01 .k-cont .k-right .k-desc {margin-top:16px;color:#767676;}
.error-01 .k-cont .k-right .btn-wrap {margin-top:64px;}
.error-01 .k-cont .k-right .btn-wrap .k-btn {margin-top:24px;}
.error-01 .k-cont .k-right .btn-wrap .k-btn:first-child {margin-top:0px;}

.error-01.k-reverse .k-cont {flex-direction: row-reverse;}
.error-01.k-reverse .k-cont .k-right {padding:0 24px 0 0;}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
    .error-01 .k-section-inner {padding:0 24px;}
    .error-01 .k-cont {display:block;}
    .error-01 .k-cont .k-left {width:100%;}
    .error-01 .k-cont .k-left img {max-width:312px;}
    .error-01 .k-cont .k-right {width:100%;margin-top:24px;padding:0px;}
    .error-01 .k-cont .k-right .k-txt {display:block;width:100%;}
    .error-01 .k-cont .k-right .btn-wrap .k-btn {width:100% !important;display:block;}
    .error-01 .k-cont .k-right .k-desc {margin-top:16px;color:#767676;}
    .error-01 .k-cont .k-right .btn-wrap {margin-top:48px;}
}






