


<!DOCTYPE html>
<html lang="ko">
<head>
	<script type="text/javascript">
		var contextPath= "";
	</script>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>YUDO Tina ML</title>

	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/yudo.css" />

	<script type="text/javascript" src="/static/js/lib/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.fileDownload.js"></script>
	<script type="text/javascript" src="/static/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/swiper.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/three.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/moment.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/lodash.min.js"></script>
	<script type="text/javascript" src="/static/js/util.js"></script>
	<script type="text/javascript" src="/static/js/k.swipeList.js"></script>
	<script type="text/javascript" src="/static/js/k.main.js"></script>
	<script type="text/javascript" src="/static/js/k.parallax.js"></script>

	<script type="text/javascript" src="/static/js/common.js"></script>
	<script type="text/javascript" src="/static/js/ajax.js"></script>
	<script type="text/javascript" src="/static/js/interpreter.js"></script>
	<script type="text/javascript" src="/static/js/popup.js"></script>
	<style type="text/css">
	.skiptranslate {display: none;}
	</style>

<meta name="Title" content="YUDO Tina ML">
<meta name="description" content="Tina ML hot runner nozzle system product details">
<meta name="keywords" content="YUDO, Tina ML, hot runner, nozzle">
<meta property="og:title" content="YUDO Tina ML">
<meta property="og:type" content="website" />
<meta property="og:description" content="Tina ML hot runner nozzle system product details">

<script type="text/javascript">
function pageInit() {
	/* Product detail page — no dynamic data needed, all static */
}
</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-VW15DZRVDV"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-VW15DZRVDV');
	</script>

</head>
<body>
	<div id="root"></div>
	<div id="google_translate_element" style="display:none;"></div>
	<div class="root">



<!--banner-top banner-center banner-bottom-->
<div id="banner"></div>

<header id="header">
<div class="k-header k-type">
	<div class="header-inner">
		<div class="k-left">
			<h1>
				<a href="javascript:;">
					<svg width="100" height="20" viewBox="0 0 100 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#yudoLogo)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14.706 19.802v-7.849L23.543 0H16.26l-4.489 6.06L7.286 0H0l8.84 11.953v7.849h5.866zM25.049.017H31v13.016c0 .576.464 1.04 1.04 1.04h9.578c.577 0 1.041-.468 1.041-1.04V.017h5.949v14.996a4.79 4.79 0 0 1-4.789 4.789H29.841a4.79 4.79 0 0 1-4.793-4.789V.017zm25.565 0h18.771a4.79 4.79 0 0 1 4.79 4.793v10.203a4.79 4.79 0 0 1-4.79 4.789H50.614V.017zm5.896 5.9v7.989h10.773c.576 0 1.044-.468 1.044-1.041V6.958a1.04 1.04 0 0 0-1.044-1.04H56.51zM76.386 4.81A4.791 4.791 0 0 1 81.178.017h13.983a4.79 4.79 0 0 1 4.788 4.793v10.203a4.79 4.79 0 0 1-4.788 4.789H81.178a4.79 4.79 0 0 1-4.792-4.789V4.81zm5.878 2.2v5.806c0 .573.465 1.04 1.038 1.04h9.724c.577 0 1.041-.467 1.041-1.04V7.01a1.04 1.04 0 0 0-1.04-1.041h-9.725c-.573 0-1.038.464-1.038 1.04z" fill="#DC0043"/>
						</g>
						<defs>
							<clipPath id="yudoLogo">
								<path fill="#fff" d="M0 0h100v19.802H0z"/>
							</clipPath>
						</defs>
					</svg>
				</a>
			</h1>
		</div>
		<div class="k-center">
			<div class="k-dim"></div>
			<div class="k-center-inner">
				<div class="k-gnb k-pc">
					<div class="gnb-inner">
					</div>
				</div>
				<div class="k-gnb k-mobile">
					<div class="gnb-inner">
					</div>
				</div>
			</div>
		</div>
		<div class="k-right">
			<div class="k-language k-tooltip" >
				<div class="k-btn">
					<button>
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#a)" stroke="#191919" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round">
								<path d="M27 16c0 6.075-4.925 11-11 11S5 22.075 5 16 9.925 5 16 5s11 4.925 11 11z"/>
								<path d="M22 16c0 3.169-.751 5.988-1.914 7.981C18.909 26 17.43 27 16 27c-1.43 0-2.909-1-4.086-3.019C10.751 21.988 10 19.168 10 16s.751-5.988 1.914-7.981C13.091 6 14.57 5 16 5c1.43 0 2.909 1 4.086 3.019C21.249 10.012 22 12.832 22 16z"/>
								<path d="M5 16h22M16 5v22" stroke-linecap="round"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h32v32H0z"/>
								</clipPath>
							</defs>
						</svg>
					</button>
				</div>
				<div class="k-list">
					<div class="list-inner">
					</div>
				</div>
			</div>
		</div>
		<div class="k-mobile-button">
			<button onclick="openGnb();">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 8h20M6 16h20M6 24h20" stroke="#191919" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				</svg>
			</button>
		</div>
		<div class="k-mobile-button-close">
			<button onclick="closeGnb();">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24 8 8 24M24 24 8 8" stroke="#333" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<script>
$(document).on("mouseenter", ".k-gnb.k-pc .depth1", function(){
	var idx = $(this).index();
	$(".k-header").addClass("hover");
	$(".k-gnb .depth1").removeClass("on");
	$(this).addClass("on");
});
$(document).on("mouseleave", ".k-header", function(){
	$(".k-header").removeClass("hover");
	$(".k-gnb .depth1").removeClass("on");
});
$(".k-language .k-btn").on("mouseenter", function(){
	$(".k-language").addClass("on");
});
$(".k-language .k-btn").on("click", function(e){
	$(".k-language").addClass("on");
	e.stopPropagation();
});
function closeGnb(){ $(".k-header").removeClass("open hover"); $("html").removeClass("fixed-layer"); _kglobal.stopWheel = false; }
function openGnb(){ $(".k-header").addClass("open"); $("html").addClass("fixed-layer"); _kglobal.stopWheel = true; }
</script>

<script type="text/x-jquery-tmpl" id="langTmpl">
<a href="javascript:;" class="k-text font16 ${className}">${cdNm}</a>
</script>

<script type="text/x-jquery-tmpl" id="gnbPcTmpl">
<div class="depth1 ${className}">
	<a href="${menuUrl}" class="k-text font16 weight700" target="${menuTarget}">${webMenuNm}</a>
	{{if menuDepth2List.length > 0}}
	<div class="k-sub">
		{{if _.eq(menuCd, "MENU01") }}
			{{each(index, menuDepth2) menuDepth2List}}
			<div class="depth2 ${menuDepth2.className} {{if index ==0 }}hover{{/if}}">
				<a href="${menuDepth2.menuUrl}" class="k-text font16 weight700">${menuDepth2.webMenuNm}</a>
				{{if !_.isEmpty(menuDepth2.menuDepth3List)}}
				<div class="k-sub">
					{{each(index, menuDepth3) menuDepth2.menuDepth3List}}
					<div class="depth3">
						<a href="${menuDepth3.menuUrl}" class="k-text font14 k-grey-1">${menuDepth3.webMenuNm}</a>
					</div>
					{{/each}}
				</div>
				{{/if}}
				{{if !_.isEmpty(menuDepth2.menuImgFileNm)}}
				<div class="k-thumb">
					<div class="k-img k-cover k-center" style="background-image:url('${menuDepth2.menuImgFilePath}')">
						<img src="${menuDepth2.menuImgFilePath}" alt="">
					</div>
				</div>
				{{/if}}
			</div>
			{{/each}}
		{{else}}
			{{each(index, menuDepth2) menuDepth2List}}
			<div class="depth2">
				<a href="${menuDepth2.menuUrl}" class="k-text font16 weight700">
					<div class="k-text font16 weight700">${menuDepth2.webMenuNm}</div>
					<div class="k-thumb">
						<div class="k-img k-cover k-center" style="background-image:url('${menuDepth2.menuImgFilePath}')">
							<img src="${menuDepth2.menuImgFilePath}" alt="">
						</div>
					</div>
				</a>
			</div>
			{{/each}}
		{{/if}}
	</div>
	{{/if}}
</div>
</script>
<script type="text/x-jquery-tmpl" id="gnbMoTmpl">
<div class="depth1 ${className}">
	<a href="${menuUrl}" class="k-text font16 weight700" target="${menuTarget}">${moMenuNm}</a>
	{{if menuDepth2List.length > 0}}
	<div class="k-sub">
		{{each(index, menuDepth2) menuDepth2List}}
		<div class="depth2 ${menuDepth2.className} {{if index ==0 }}hover{{/if}}">
			<a href="${menuDepth2.menuUrl}" class="k-text font16 weight700">${menuDepth2.moMenuNm}</a>
			{{if !_.isEmpty(menuDepth2.menuDepth3List)}}
			<div class="k-sub">
				{{each(index, menuDepth3) menuDepth2.menuDepth3List}}
				<div class="depth3">
					<a href="${menuDepth3.menuUrl}" class="k-text font14 k-grey-1">${menuDepth3.moMenuNm}</a>
				</div>
				{{/each}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	{{/if}}
</div>
</script>
<script type="text/x-jquery-tmpl" id="menuPathTmpl">
	{{each(idx,menu) menus}}
		{{if (idx+1) == menus.length }}
			<div class="k-item font12 k-text weight700 last">${menu}</div>
		{{else}}
			<div class="k-item font12">${menu}</div>
			<span class="k-gap">/</span>
		{{/if}}
	{{/each}}
</script>

</header>

	<!-- k-body -->
	<div class="k-body lang-en">
		<div class="k-history k-white">
			<div class="history-inner menu-path">
			</div>
		</div>

		<!-- prd-detail-01: Key Visual -->
		<div class="k-section prd-detail-01">
			<div class="k-section-inner">
				<div class="k-keyvisual">
					<div class="k-img k-cover k-center" style="background-image:url('https://placehold.co/1920x528/1a1a2e/ffffff?text=Tina+ML')">
						<img src="https://placehold.co/1920x528/1a1a2e/ffffff?text=Tina+ML" alt="">
					</div>
					<div class="k-text" style="opacity:1;">
						<div class="k-text font40 weight700 k-title k-white" style="opacity:1;">
							Tina ML
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prd-detail-02: Product Overview -->
		<div class="k-section prd-detail-02">
			<div class="k-section-inner">
				<div class="k-what-find">
					<div class="k-inner">
						<div class="k-div">
							<div class="k-center">
								<div class="product-swipe swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="k-img k-cover k-center" style="background-image:url('https://placehold.co/558x471/f7f7f7/333333?text=Tina+ML+Front');background-size:contain;background-repeat:no-repeat;">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="k-img k-cover k-center" style="background-image:url('https://placehold.co/558x471/f7f7f7/333333?text=Tina+ML+Side');background-size:contain;background-repeat:no-repeat;">
											</div>
										</div>
										<div class="swiper-slide">
											<div class="k-img k-cover k-center" style="background-image:url('https://placehold.co/558x471/f7f7f7/333333?text=Tina+ML+Detail');background-size:contain;background-repeat:no-repeat;">
											</div>
										</div>
									</div>
								</div>
								<div class="k-page">
									<div class="page-inner">
										<div class="k-left k-pagination">
										</div>
									</div>
									<div class="k-right">
										<button type="button">
											<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 13V1M9 13V1" stroke="#767676" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="k-head">
							<div class="cate-list">
								<div class="k-category">
									<div class="inner">
										<div class="k-icon">
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M4 8h8" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
										<div class="k-text font14">Television</div>
									</div>
								</div>
							</div>
							<div class="k-text font32 weight700 k-title">
								Tina ML
							</div>
							<div class="k-text font18 k-desc">
								Compact multi-drop nozzle optimized for high-cavity television component molding, delivering stable balancing and excellent gate quality.
							</div>
						</div>
						<div class="k-bottom">
							<div class="k-text font18 weight700">Key advantages</div>
							<ul>
								<li class="k-text font16">Stable filling balance for thin-wall parts and complex flow paths</li>
								<li class="k-text font16">Improved gate quality and reduced stringing with optimized valve gating</li>
								<li class="k-text font16">Flexible nozzle configurations for a wide range of cavity layouts</li>
								<li class="k-text font16">Service-friendly design for easier maintenance and shorter downtime</li>
							</ul>
							<div class="k-btn-wrap">
								<div class="k-btn k-fill k-round height-56 k-primary k-inline-block" style="width:50%;">
									<button class="k-flex-justify-center" onclick="location.href='/en/product/at-home/television';">
										<div class="k-text font16 k-white">Back to Television</div>
									</button>
								</div>
								<div class="k-gap-16"></div>
								<div class="k-btn k-outline k-round height-56 k-inline-block" style="width:50%;">
									<button class="k-flex-justify-center" onclick="location.href='/en/support/download';">
										<div class="k-text font16">Download brochures</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prd-detail-03: Product Specification -->
		<div class="k-section prd-detail-03">
			<div class="k-section-inner">
				<div class="k-text font32 weight700 k-title">
					Product specification
				</div>
				<div class="k-list">
					<div class="list-inner">
						<!-- Nozzle assembly type -->
						<div class="k-group">
							<div class="group-title">
								<div class="k-text font18 weight700">Nozzle assembly type</div>
							</div>
							<div class="group-list">
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="10" width="32" height="20" rx="4" stroke="#505050" stroke-width="2"/><path d="M14 10V6M26 10V6M14 30v4M26 30v4" stroke="#505050" stroke-width="2" stroke-linecap="round"/></svg>
										<div class="k-text font16">Sliding type</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="14" stroke="#505050" stroke-width="2"/><path d="M20 10v20M14 14l12 12M26 14 14 26" stroke="#505050" stroke-width="1.5"/></svg>
										<div class="k-text font16">Thread type</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Cylinder type -->
						<div class="k-group">
							<div class="group-title">
								<div class="k-text font18 weight700">Cylinder type</div>
							</div>
							<div class="group-list">
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="8" y="6" width="24" height="28" rx="4" stroke="#505050" stroke-width="2"/><path d="M16 18h8M20 14v8" stroke="#505050" stroke-width="2" stroke-linecap="round"/></svg>
										<div class="k-text font16">Pneumatic</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="8" y="6" width="24" height="28" rx="4" stroke="#505050" stroke-width="2"/><circle cx="20" cy="20" r="5" stroke="#505050" stroke-width="2"/></svg>
										<div class="k-text font16">Hydraulic</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="8" y="6" width="24" height="28" rx="4" stroke="#505050" stroke-width="2"/><path d="M16 16l4 4-4 4M22 16v8" stroke="#505050" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
										<div class="k-text font16">Electric</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Nozzle gate type -->
						<div class="k-group">
							<div class="group-title">
								<div class="k-text font18 weight700">Nozzle gate type</div>
							</div>
							<div class="group-list">
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 8h16v24H12z" stroke="#505050" stroke-width="2"/><path d="M18 20h4" stroke="#505050" stroke-width="2" stroke-linecap="round"/><circle cx="20" cy="32" r="2" fill="#505050"/></svg>
										<div class="k-text font16">Valve</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 8h16v24H12z" stroke="#505050" stroke-width="2"/><circle cx="20" cy="32" r="3" stroke="#505050" stroke-width="2"/></svg>
										<div class="k-text font16">Open</div>
									</div>
								</div>
							</div>
						</div>
						<!-- System supply scope -->
						<div class="k-group">
							<div class="group-title">
								<div class="k-text font18 weight700">System supply scope</div>
							</div>
							<div class="group-list">
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="10" width="28" height="20" rx="3" stroke="#505050" stroke-width="2"/><path d="M6 18h28" stroke="#505050" stroke-width="1.5"/></svg>
										<div class="k-text font16">HRS</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="10" width="14" height="20" rx="3" stroke="#505050" stroke-width="2"/><rect x="22" y="10" width="14" height="20" rx="3" stroke="#505050" stroke-width="2"/></svg>
										<div class="k-text font16">H/H(MODU)</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="4" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/><rect x="22" y="4" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/><rect x="13" y="22" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/></svg>
										<div class="k-text font16">T-H/H</div>
									</div>
								</div>
								<div class="k-item">
									<div class="item-inner">
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="4" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/><rect x="22" y="4" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/><rect x="4" y="22" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/><rect x="22" y="22" width="14" height="14" rx="3" stroke="#505050" stroke-width="2"/></svg>
										<div class="k-text font16">T-STACK</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Nozzle size table -->
				<div class="k-table" style="margin-top:40px;">
					<div class="table-inner">
						<table>
							<thead>
								<tr>
									<th><strong>Nozzle size</strong></th>
									<th><strong>Valve</strong><br><span>Gate type/Dia.</span></th>
									<th><strong>Injection volume</strong></th>
									<th><strong>Open</strong><br><span>Gate type/Dia.</span></th>
									<th><strong>Injection volume</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>ML-18</td>
									<td>Valve gate &Oslash;1.0 mm</td>
									<td>Up to 15 cm&sup3;</td>
									<td>Open gate &Oslash;0.8 mm</td>
									<td>Up to 10 cm&sup3;</td>
								</tr>
								<tr>
									<td>ML-22</td>
									<td>Valve gate &Oslash;1.2 mm</td>
									<td>Up to 25 cm&sup3;</td>
									<td>Open gate &Oslash;1.0 mm</td>
									<td>Up to 18 cm&sup3;</td>
								</tr>
								<tr>
									<td>ML-26</td>
									<td>Valve gate &Oslash;1.5 mm</td>
									<td>Up to 40 cm&sup3;</td>
									<td>Open gate &Oslash;1.2 mm</td>
									<td>Up to 30 cm&sup3;</td>
								</tr>
								<tr>
									<td>ML-30</td>
									<td>Valve gate &Oslash;2.0 mm</td>
									<td>Up to 65 cm&sup3;</td>
									<td>Open gate &Oslash;1.8 mm</td>
									<td>Up to 50 cm&sup3;</td>
								</tr>
								<tr>
									<td>ML-34</td>
									<td>Valve gate &Oslash;2.5 mm</td>
									<td>Up to 80 cm&sup3;</td>
									<td>Open gate &Oslash;2.2 mm</td>
									<td>Up to 60 cm&sup3;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- prd-detail-08: Related applications -->
		<div class="k-section prd-detail-08">
			<div class="k-section-inner">
				<div class="k-text font32 weight700 k-title">
					Related applications
				</div>
				<div class="k-text font16" style="color:#767676;margin-top:8px;">
					Check the Applicable industries leading innovation
				</div>
				<div class="k-list">
					<div class="list-inner">
						<div class="k-item">
							<div class="item-inner">
								<div class="k-title font20 weight700">Television</div>
								<div class="k-sub">
									<div class="k-desc font14">TV housings</div>
									<div class="k-desc font14">Back covers</div>
									<div class="k-desc font14">Inner frames</div>
								</div>
								<div class="k-download">
									<div class="k-btn k-outline k-round height-40 k-inline-block">
										<button onclick="location.href='/en/product/at-home/television';">
											<div class="k-text font14">View applications</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="k-item">
							<div class="item-inner">
								<div class="k-title font20 weight700">Display / Monitor</div>
								<div class="k-sub">
									<div class="k-desc font14">Monitor bezels</div>
									<div class="k-desc font14">Display covers</div>
									<div class="k-desc font14">Stands &amp; bases</div>
								</div>
								<div class="k-download">
									<div class="k-btn k-outline k-round height-40 k-inline-block">
										<button onclick="location.href='/en/product/at-home';">
											<div class="k-text font14">View applications</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prd-detail-08 #2: Applicable technologies -->
		<div class="k-section prd-detail-08" style="margin-top:60px;">
			<div class="k-section-inner">
				<div class="k-text font32 weight700 k-title">
					Applicable technologies
				</div>
				<div class="k-text font16" style="color:#767676;margin-top:8px;">
					Boost your production with
				</div>
				<div class="k-list">
					<div class="list-inner">
						<div class="k-item">
							<div class="item-inner">
								<div class="k-title font20 weight700">Balancing Analysis</div>
								<div class="k-sub">
									<div class="k-desc font14">Flow simulation</div>
									<div class="k-desc font14">Cavity balancing</div>
								</div>
								<div class="k-download">
									<div class="k-btn k-outline k-round height-40 k-inline-block">
										<button onclick="location.href='/en/support/download';">
											<div class="k-text font14">Learn more</div>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="k-item">
							<div class="item-inner">
								<div class="k-title font20 weight700">Thermal Optimization</div>
								<div class="k-sub">
									<div class="k-desc font14">Temperature control</div>
									<div class="k-desc font14">Heat distribution</div>
								</div>
								<div class="k-download">
									<div class="k-btn k-outline k-round height-40 k-inline-block">
										<button onclick="location.href='/en/support/download';">
											<div class="k-text font14">Learn more</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prd-detail-09: Support CTA -->
		<div class="k-section prd-detail-09">
			<div class="k-section-inner">
				<div class="k-text font32 weight700 k-title">
					Support
				</div>
				<div class="k-text font18" style="color:#767676;margin-top:8px;">
					Need a product quote or service consultation?
				</div>
				<div class="k-btn-wrap">
					<div class="k-btn k-fill k-round height-56 k-primary k-inline-block" style="width:312px;">
						<button class="k-flex-justify-center" onclick="location.href='/en/support/contact-info/global-network';">
							<div class="k-text font16 k-white">Contact us</div>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>

<button class="top-btn">
	<div class="k-text font12 weight700">
		<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="m4 2 3.464 4.5H.536L4 2z" fill="#505050"/>
		</svg>
		TOP
	</div>
</button>

<footer id="footer">
	<div class="k-footer">
		<div class="footer-inner">
			<div class="k-top">
				<div class="k-footer-gnb k-pc">
					<div class="gnb-inner">
					</div>
				</div>
				<div class="k-footer-gnb k-mobile">
					<div class="gnb-inner">
					</div>
				</div>
			</div>
			<div class="k-ft-bottom">
				<div class="k-inner">
					<div class="k-left">
						<a>
							<svg width="122" height="24" viewBox="0 0 122 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#footer)">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M17.823 24v-9.513L28.534 0h-8.827l-5.44 7.345L8.831 0H0l10.715 14.487V24h7.108zM30.36.021h7.214v15.774a1.26 1.26 0 0 0 1.261 1.262h11.609c.698 0 1.261-.567 1.261-1.262V.021h7.21v18.175c0 3.205-2.6 5.804-5.804 5.804H36.167a5.806 5.806 0 0 1-5.808-5.804V.02zm30.985 0h22.751c3.205 0 5.805 2.6 5.805 5.809v12.366C89.9 21.4 87.3 24 84.095 24h-22.75V.021zm7.146 7.15v9.683h13.057c.698 0 1.266-.567 1.266-1.262V8.433a1.26 1.26 0 0 0-1.266-1.261H68.49zM92.58 5.83c0-3.21 2.599-5.809 5.808-5.809h16.947c3.204 0 5.804 2.6 5.804 5.809v12.366c0 3.205-2.6 5.804-5.804 5.804H98.388a5.806 5.806 0 0 1-5.809-5.804V5.83zm7.124 2.667v7.036a1.26 1.26 0 0 0 1.258 1.261h11.786c.698 0 1.262-.567 1.262-1.261V8.497a1.26 1.26 0 0 0-1.262-1.262h-11.786c-.695 0-1.258.563-1.258 1.262z" fill="#DC0043"/>
								</g>
								<defs>
									<clipPath id="footer">
										<path fill="#fff" d="M0 0h121.2v24H0z"/>
									</clipPath>
								</defs>
							</svg>
						</a>
					</div>
					<div class="k-center">
						<div class="k-text font14 k-grey-2 k-eng">
							&copy; YUDO Co., Ltd. All rights reserved.
						</div>
					</div>
					<div class="k-right">
						<ul>
							<li>
								<a href="javascript:;" target="_blank">
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M27.733 15.933h2.6v-4h-3.866a5.135 5.135 0 0 0-3.934 1.934s-1.067 1-1.067 3.866v3h-3.8v4.334h3.8v11h4.4v-11H29.6l.533-4.334h-4.267v-3a1.735 1.735 0 0 1 1.867-1.8z" fill="#767676"/>
									</svg>
								</a>
							</li>
							<li>
								<a href="javascript:;" target="_blank">
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M37.733 17a3.467 3.467 0 0 0-2.533-2.533c-2.2-.6-11.2-.6-11.2-.6s-8.933 0-11.2.6A3.734 3.734 0 0 0 10.266 17c-.6 2.267-.6 7-.6 7s0 4.667.6 6.933a3.733 3.733 0 0 0 2.534 2.534c2.267.6 11.2.6 11.2.6s9 0 11.2-.6a3.467 3.467 0 0 0 2.533-2.534c.6-2.266.6-6.933.6-6.933s0-4.733-.6-7z" fill="#767676"/>
										<path d="M21.067 28.267v-8.534L28.534 24l-7.467 4.267z" fill="#F9F9F9"/>
									</svg>
								</a>
							</li>
							<li>
								<a href="javascript:;" target="_blank">
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M18.067 20.467H13.8V34.8h4.267V20.467z" fill="#767676"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M34.666 25.2v9.667H30.4v-7.734a2.667 2.667 0 0 0-5.333 0v7.734H20.8V20.533h4.267V22.6a5.133 5.133 0 0 1 5.733-2.4 5.2 5.2 0 0 1 3.866 5zM15.867 18.333a2.6 2.6 0 1 0-2.534-2.6 2.534 2.534 0 0 0 2.534 2.6z" fill="#767676"/>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="k-loading">
		<div class="loading"></div>
	</div>

<script type="text/x-jquery-tmpl" id="footerTmpl">
	${cpywrtCont}
	{{if !_.isEmpty(url) }}
	<a href="${url}" target="_blank">${srvCont}</a>
	{{/if}}
</script>

<script type="text/x-jquery-tmpl" id="footerGnbPcTmpl">
<div class="depth1 ${className}">
	<a href="${menuUrl}" class="k-text font18 weight700" target="${menuTarget}">${webMenuNm}</a>
	{{if menuDepth2List.length > 0}}
	<div class="k-sub">
		{{each(index, menuDepth2) menuDepth2List}}
		<div class="depth2">
			<a href="${menuDepth2.menuUrl}" class="k-text font14 k-grey-2">${menuDepth2.webMenuNm}</a>
		</div>
		{{/each}}
	</div>
	{{/if}}
</div>
</script>

<script type="text/x-jquery-tmpl" id="footerGnbMoTmpl">
<div class="depth1 ${className}">
	<a href="${menuUrl}" class="k-text font18 weight700" target="${menuTarget}">${moMenuNm}</a>
	{{if menuDepth2List.length > 0}}
	<div class="k-sub">
		{{each(index, menuDepth2) menuDepth2List}}
		<div class="depth2">
			<a href="${menuDepth2.menuUrl}" class="k-text font14 k-grey-2">${menuDepth2.moMenuNm}</a>
		</div>
		{{/each}}
	</div>
	{{/if}}
</div>
</script>
</footer>
	</div>
</body>
</html>
