.news-01 {}
.news-01 .k-keyvisual {height:528px;display:flex;justify-content: center;align-items: center;}
.news-01 .k-keyvisual .k-img {position:absolute;top:0px;left:0px;right:0px;height:100%;}
.news-01 .k-keyvisual .k-img img {display:none;}
.news-01 .k-keyvisual .k-txt {text-align:center;}
.news-01 .k-keyvisual .k-text {position:relative;z-index:1;}


/*  */
.news-02 .k-section-inner {padding:80px 0 180px 0;}
.news-tab {border-bottom:1px solid #e7e7e7;display:flex;justify-content: center;}
.news-tab .k-inner {display:flex;}
.news-tab .k-inner .tab-item {padding:0 24px;}
.news-tab .k-inner .tab-item button {position:relative;min-width:42px;height:54px;display:block;transition:all 0.25s}
.news-tab .k-inner .tab-item button:after {content:"";background:#fff;transition:all 0.25s}
.news-tab .k-inner .tab-item.on button {color:#bb1e4d;}
.news-tab .k-inner .tab-item.on button:after {content:"";position:absolute;left:0px;bottom:0px;width:100%;height:2px;background:#bb1e4d;}
.news-tab .k-inner .tab-item:hover button {color:#bb1e4d;}
.news-tab .k-inner .tab-item:hover button:after {content:"";position:absolute;left:0px;bottom:0px;width:100%;height:2px;background:#bb1e4d;}

.news-02 .k-controll {display:flex;justify-content: center;padding:24px 0;position: relative;z-index: 10;}
.news-02 .k-controll .k-inner {max-width:1040px;width:100%;display:flex;justify-content: flex-end;padding:0 34px;}
.news-02 .k-controll .k-btn button .k-text {white-space:nowrap;display:flex;justify-content: flex-end;}

.news-02 .k-news-list {display:flex;justify-content: center;}
.news-02 .k-news-list .list-inner {max-width:1040px;width:100%;padding:0 34px;}
.news-02 .k-news-list .k-div {display:flex;flex-wrap: wrap;margin:0 -34px;}
.news-02 .k-item {width:50%;margin-bottom:60px;}
.news-02 .k-item .item-inner {padding:0 34px;}
.news-02 .k-item .k-img {height:186px;background-size: cover;background-position: center;border-radius:24px;position: relative;overflow:hidden;}
.news-02 .k-item .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(25, 25, 25, 0.2);z-index:1;}
.news-02 .k-item .k-name {color:#505050;margin-top:24px;}
.news-02 .k-item .k-title {margin-top:8px;height:68px;}
.news-02 .k-item .k-desc {color:#767676;margin-top:16px;}
.news-02 .k-item .k-btn {margin-top:24px;}

.news-03 {display:flex;justify-content: center;}
.news-03 .k-section-inner {max-width:1040px;width:100%;padding:0 34px 180px 34px;}
.news-item {margin-top:40px;}
.news-item:first-child {margin-top:0px;}
.news-item .item-inner {position:relative;height:260px;border-radius:24px;overflow:hidden;padding:52px 56px 56px 56px;box-sizing: border-box;}
.news-item .k-img {position:absolute;top:0px;left:0px;width:100%;height:100%;}
.news-item .k-txt {position:relative;z-index:1;}
.news-item .k-txt > div:first-child {font-size:16px;line-height:24px;}
.news-item .k-txt .k-title {}
.news-item .k-txt .k-name {margin-top:1px;}
.news-item .k-txt .btn-wrap {margin-top:24px;}
.news-item .k-txt .btn-wrap .k-btn {width:initial !important;padding:0 40px;}

.news-02 .btn-wrap {display:flex;justify-content: center;margin-top:42px;}
.news-02 .btn-wrap .k-btn {padding:0 32px 0 40px;}
.news-02 .btn-wrap .k-btn:hover svg path {fill:transparent !important;stroke:#fff}

.news-02 .k-tooltip .k-list .list-inner {width:initial !important;}
.news-02 .k-tooltip .k-list .list-inner a {white-space: nowrap;}
@media screen and (max-width: 1200px) {
    .news-01 .k-keyvisual {height:390px}
    /*  */
    .news-02 .k-section-inner {padding:64px 0 130px 0;}
    .news-02 .k-news-list .k-div {margin:0 -28px;}
    .news-02 .k-item .item-inner {padding:0 28px;}
    .news-02 .k-item .k-img {height:172px;}
    .news-02 .k-item .k-desc {margin-top:8px;}
    .news-02 .btn-wrap .k-btn {height:48px;line-height:48px;}
    /*  */
    .news-03 .k-section-inner {padding-bottom:140px;}
    .news-item {margin-top:32px;}
    .news-item .item-inner {height:208px;padding:42px 48px 45px 48px;}
    .news-item .k-txt .k-name {margin-top:-1px;}
    .news-item .k-txt .btn-wrap {margin-top:12px;}
    .news-item .k-txt .btn-wrap .k-btn {height:48px;line-height:48px;padding:0 32px;}
}

@media screen and (max-width: 768px) {
    .news-01 .k-keyvisual {height:290px}
    /*  */
    .news-02 .k-section-inner {padding:48px 0 80px 0;}
    .news-tab .k-inner .tab-item button {min-width:44px;}
    .news-tab .k-inner .tab-item button {height:48px;}
    .news-tab .k-inner .tab-item {padding:0 12px;}
    .news-02 .k-controll {padding:26px 0;}
    .news-02 .k-news-list .list-inner {padding:0 24px;}
    .news-02 .k-news-list .k-div {display:block;}
    .news-02 .k-item {width:100%;}
    .news-02 .k-item .k-title {height:initial}
    .news-02 .k-item .k-desc {margin-top:16px;}
    .news-02 .k-item .k-img {height:120px;}
    .news-02 .btn-wrap {margin-top:0px;}

    /*  */
    .news-03 .k-section-inner {padding-bottom:80px;}
    .news-item {margin-top:32px;}
    .news-item .item-inner {height:198px;padding:40px;border-radius:12px;}
    .news-item .k-txt > div:first-child {font-size:14px;line-height:24px;}
    .news-item .k-txt .k-name {margin-top:-1px;}
    .news-item .k-txt .btn-wrap {margin-top:16px;}
    .news-item .k-txt .btn-wrap .k-btn {}
    
}








