.warranty-01 {}
.warranty-01 .k-keyvisual {height:528px;display:flex;justify-content: center;align-items: center;}
.warranty-01 .k-keyvisual .k-img {position:absolute;top:0px;left:0px;right:0px;height:100%;}
.warranty-01 .k-keyvisual .k-img img {display:none;}
.warranty-01 .k-keyvisual .k-txt {text-align:center;}
.warranty-01 .k-keyvisual .k-text {position:relative;z-index:1;}
/*  */
.warraty-type {position:relative;display:flex;justify-content: center;}
.warraty-type .k-section-inner {max-width:1200px;width:100%;position:relative;z-index:1;padding:0 34px;}
.warraty-type .k-txt {padding:100px 0;}
.warraty-type .k-txt .txt-head {position:Relative;padding-left:20px;}
.warraty-type .k-txt .txt-head:after {content:"";position:absolute;top:calc(50% - 16px);left:0px;width:4px;height:32px;background:#bb1e4d;}
.warraty-type .k-txt .txt-list {margin-top:40px;}
.warraty-type .k-txt .txt-list dl {display:flex;margin-top:32px;}
.warraty-type .k-txt .txt-list dl:first-child {margin-top:0px;}
.warraty-type .k-txt .txt-list dl dt {color:#bb1e4d;}
.warraty-type .k-txt .txt-list dl dd {padding-left:22px;}
.warraty-type .k-txt .txt-list ul {margin-top:24px;}
.warraty-type .k-txt .txt-list ul li {position: relative;padding-left:17px;margin-top:16px;}
.warraty-type .k-txt .txt-list ul li:first-child {margin-top:0px;}
.warraty-type .k-txt .txt-list ul li:after {content:"";position:absolute;top:calc(50% - 3px);left:0px;width:6px;height:6px;background:#aaa;border-radius: 50%;;}
/*  */
.warraty-type .txt-table {margin-top:38px;overflow-x:auto;}
.warraty-type .txt-table .tbl-inner {min-width:1000px;}
.warraty-type table {border-top:2px solid #505050;}
.warraty-type table thead {}
.warraty-type table thead th {padding:24px 24px;border-bottom:1px solid #aaaaaa;}
.warraty-type table thead th:first-child {background:#f9f9f9;}
.warraty-type table tbody {}
.warraty-type table tbody td {padding:32px 32px;border-bottom:1px solid #e7e7e7;color:#505050;}
.warraty-type table tbody td.first {text-align:left;background:#f9f9f9;color:#191919;}
.warraty-type table tbody td.first2 {background:#f9f9f9;color:#191919;}
/*  */
/*  */
.warranty-02 .txt-cont {margin-top:40px;}
.warranty-02 .txt-cont .k-text {color:#505050;}
.warranty-02.shape:before {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:#f9f9f9;border-radius: 0 0 0 180px;}
/*  */
/*  */
.warranty-03 .txt-cont {margin-top:40px;}
.warranty-03 .txt-cont .k-text {color:#505050;}
.warranty-03 .k-txt .txt-list {margin-top:50px;}
.warranty-03 .k-txt .txt-list ul {margin-top:0px;}
.warranty-03 .k-kind {display:flex;justify-content: space-between;margin-top:50px;}
.warranty-03 .k-kind img {width:100%;}
.warranty-03 .k-kind .k-left {}
.warranty-03 .k-kind .k-left dt {background-color: #e7e7e7;}
.warranty-03 .k-kind .k-right {}
.warranty-03 .k-kind .k-right dt {background-color: #e0e7ff;}
.warranty-03 .k-kind dl {border-radius: 24px 24px 0 0;overflow:hidden;max-width:580px;}
.warranty-03 .k-kind .k-left {margin-right:17px;}
.warranty-03 .k-kind .k-right {margin-left:17px;}
.warranty-03 .k-kind dl dt {height:60px;display:flex;align-items: center;justify-content: center;}
.warranty-03 .k-kind dl dd {}

/*  */
.warranty-04 .txt-cont {margin-top:40px;}
.warranty-04 .txt-cont .k-text {color:#505050;}


.warranty-05 .k-txt {padding:180px 0 0 0;}
@media screen and (max-width: 1200px) {
    .warranty-01 .k-keyvisual {height:390px;}
    .warraty-type .k-txt {padding:80px 0;}
    /* .warranty-01 + .warranty-02.warraty-type .k-txt {padding:140px 0;} */
    .warraty-type .k-txt .txt-head {padding-left:16px;}
    .warraty-type .k-txt .txt-head .k-text {font-size:28px;line-height:40px;}
    .warraty-type .k-txt .txt-head:after {content:"";height:28px;top:calc(50% - 14px)}
    .warranty-03 .k-kind dl {max-width:100%;}
    .warranty-03 .k-kind .k-left {margin-right:17px;}
    .warranty-03 .k-kind .k-right {margin-left:17px;}
    .warranty-03 .k-kind dl dt {height:54px;}
    .warranty-02:before {content:"";border-radius: 0 0 0 140px;;}
    .warranty-04:before {content:"";border-radius: 0 140px 0 140px;;}
    .warranty-05 .k-txt {padding:140px 0 0 0;}
    .warranty-02.shape:before {content:"";border-radius: 0 0 0 180px;}
    
}

@media screen and (max-width: 768px) {
    .warranty-01 .k-keyvisual {height:290px;}
    .warraty-type .k-section-inner {padding:0 24px;}
    .warraty-type .k-txt {padding:80px 0;}
    .warraty-type .k-txt .txt-list {margin-top:32px;}
    .warraty-type .k-txt .txt-list dl {margin-top:24px;}
    
    .warraty-type .k-txt .txt-head {padding-left:12px;}
    .warraty-type .k-txt .txt-head .k-text {font-size:20px;line-height:30px;}
    .warraty-type .k-txt .txt-head:after {content:"";height:20px;top:calc(50% - 10px)}

    .warranty-02:before {content:"";border-radius: 0 0 0 80px;;}
    .warranty-04:before {content:"";border-radius: 0 80px 0 80px;;}
    .warranty-05 .k-txt {padding:80px 0 0 0;}

    .warraty-type .txt-table {margin-top:32px;}
    .warranty-03 .k-kind {display: block;;}
    .warranty-03 .k-kind dl {border-radius: 24px;}
    .warranty-03 .k-kind dl dt {height:40px;}
    .warranty-03 .k-kind .k-left {margin-right:0px;}
    .warranty-03 .k-kind .k-right {margin-left:0px;margin-top:24px;}
    .warranty-02.shape:before {content:"";border-radius: 0 0 0 80px;}
}





.lang-en .warraty-type table thead th {word-break: keep-all;}























