.k-footer {display:flex;}
.k-footer .footer-inner {background:#f9f9f9;width:100%;border-top:1px solid rgba(0,0,0,0.1)}
.k-footer .k-top {display:flex;justify-content: center;padding:40px 0;}
.k-footer-gnb {max-width:1200px;width:100%;padding:0 34px;}
.k-footer-gnb .gnb-inner {display:flex;}
.k-footer-gnb .depth1 {width:25%;}
.k-footer-gnb .depth2 {}
.k-footer-gnb .depth2 a {line-height:34px;}
.k-footer-gnb .depth1 > .k-sub {margin-top:14px;}
.k-footer-gnb .depth3 {display:none;}
.k-ft-bottom {border-top:1px solid rgba(0,0,0,0.1);display:flex;justify-content: center;}
.k-ft-bottom .k-inner {display:flex;max-width:1200px;width:100%;padding:0 34px;justify-content: space-between;}
.k-ft-bottom .k-left {display:flex;align-items: center;height:96px;;}
.k-ft-bottom .k-center {display:flex;align-items: center;height:96px;;padding-left:30px;flex:1 auto;}
.k-ft-bottom .k-center a {display:block;color:#666;text-decoration: underline;}
.k-ft-bottom .k-center .k-text {}
.k-ft-bottom .k-right {display:flex;align-items: center;height:96px;;}
.k-ft-bottom .k-right ul {display:flex;}
.k-ft-bottom .k-right ul li {margin-left:20px;}
.k-ft-bottom .k-right ul li:first-child {margin-left:0px;}
.k-ft-bottom .k-right ul li:hover svg path:first-child {fill:#191919}
.k-ft-bottom .k-right ul li:nth-child(3):hover svg path {fill:#191919}
@media screen and (max-width: 1200px) {
    .k-footer .k-top {padding:0px 0px 32px 0px;}
    .k-footer-gnb .gnb-inner {flex-wrap: wrap;}
    .k-footer-gnb .depth1 {width:50%;margin-top:32px;}
    .k-ft-bottom {}
    .k-ft-bottom .k-left {height:80px;}
    .k-ft-bottom .k-left svg {width:80px;}
    .k-ft-bottom .k-center {height:80px;padding-left:24px;}
    .k-ft-bottom .k-right {height:80px;}
}

@media screen and (max-width: 768px) {
    .k-footer .k-top {padding:0px 0px 32px 0px;}
    .k-footer-gnb {padding:0 24px;}
    .k-footer-gnb .gnb-inner {flex-wrap: wrap;}
    .k-footer-gnb .depth1 {width:100%;margin-top:40px;}
    .k-ft-bottom {}
    .k-ft-bottom .k-inner {display:block;padding: 40px 24px;}
    .k-ft-bottom .k-left {height:initial;}
    .k-ft-bottom .k-left svg {width:80px;}
    .k-ft-bottom .k-center {height:initial;padding:0px;margin-top:16px;}
    .k-ft-bottom .k-right {height:initial;display:flex;justify-content: center;margin-top:24px;}
    
}


