.k-header {position:fixed;top:0px;left:0px;right:0px;display:Flex;justify-content: center;background:#fff;height:82px;transition: all 0.25s;z-index:10;}
.k-header.hover {height:464px;overflow:hidden;}
.k-header.hover:after {content:"";position:absolute;top:82px;left:0px;right:0px;width:100%;height:1px;background:#e7e7e7;}
.header-inner {position:relative;display:flex;justify-content: space-between; max-width:1200px;width:100%;padding:0 34px;}
.header-inner .k-left {height:100%;display:flex;align-items: center;height:82px;}
.header-inner > .k-center {flex:1 auto;;padding-left:104px;display:flex;}
.header-inner .k-right {height:100%;display:flex;align-items: center;height:82px;}
/*  */
.header-inner .k-left h1 {height:20px;}
/************************************************
 * fixed-layer
**************************************************/
html.fixed-layer,
html.fixed-layer body {overflow:hidden;}
/*  */
.k-gnb {}
.k-gnb .gnb-inner {display:flex;align-items: center;height:82px;}
.k-gnb .depth1 {margin-right:48px;}
.k-gnb .depth1 > a {}
.k-gnb .depth1 > .k-sub {position:absolute;top:82px;padding-top:40px;;left:34px;right:34px;display:none;max-width:1200px;width:initial;}
.k-gnb .depth1.on > .k-sub {display:flex;}
.k-gnb .depth1.on > a {color:#bb1e4d;position: relative;z-index:11}
.k-gnb .depth1 > a:hover {color:#bb1e4d;}
.k-gnb .depth1 > a:hover:after {content:"";position:absolute;top:52px;left:0px;width:100%;height:2px;background:#bb1e4d;}
.k-gnb.k-pc .depth1.on > a:after {content:"";position:absolute;top:52px;left:0px;width:100%;height:2px;background:#bb1e4d;}
.k-gnb .depth2 {width:155px;margin-right:64px;box-sizing: border-box;}
.k-gnb .depth1-03 .k-sub {flex-wrap: wrap;}
.k-gnb .depth1-03 .depth2 {width:50%;margin-right:0px;padding-right:20px;margin-bottom:40px;}
.k-gnb .depth2:hover > a {color:#bb1e4d;}
.k-gnb .depth2:hover .k-btn a {color:#bb1e4d;}
.k-gnb .depth2:hover .k-btn .k-icon svg path {stroke:#bb1e4d;}
.k-gnb .depth2 > .k-sub {margin-top:18px;}
.k-gnb .depth2 > .k-sub .depth3 {margin-top:12px;}
.k-gnb .depth2 > .k-sub .depth3:first-child {margin-top:0px;}
.k-gnb .depth3 > a {}
.k-gnb .depth3 > a:hover {color:#191919;}
/* depth1-01 - 제품찾기 */
.depth2-3 {position:absolute;top:180px;left:437px;}
.k-gnb .depth2.depth2-3 .k-thumb {top:-138px;right:-608px;}
/* depth1-03 - 지속가능 */
/*  */
.k-gnb .depth2 .k-thumb {position:absolute;top:42px;right:0px;display:none;}
.k-gnb .depth2.hover .k-thumb {display:block;}
.k-gnb .depth2 .k-thumb .k-img {border-radius: 24px;;}
/*  */
.k-gnb .depth1-04 .depth2:nth-child(5) {position:absolute;left:0px;top:105px;}
.k-gnb .depth1-04 .depth2:nth-child(5) .k-thumb {top:-63px;right:-1045px;}
/*  */
.k-gnb .depth1 .k-btn {position:absolute;top:296px;left:0px;display:none;}
.k-gnb .depth1.on .k-btn {display:block;}

/*  */
.k-language.k-tooltip {position: relative;display:flex;height:100%;z-index:11;}
.k-language.k-tooltip .k-btn {}
.k-language.k-tooltip .k-btn:hover svg g {stroke:#bb1e4d;transition:all 0.5s}
.k-language.k-tooltip .k-list {display:none;position:absolute;top:65px;right:0px;}
.k-language.k-tooltip .k-list .list-inner {width:110px;border:1px solid #e7e7e7;background:#fff;border-radius:10px;padding:11px 12px;box-sizing: border-box;}
.k-language.k-tooltip.on .k-btn svg g {stroke:#bb1e4d}
.k-language.k-tooltip.on .k-list {display:block;}
.k-language.k-tooltip .k-list a {display:block;line-height:34px;height:34px;text-align: center;margin-top:4px;}
.k-language.k-tooltip .k-list a:hover {font-weight: 700;;color:#fff;background:#bb1e4d;border-radius:4px;}
.k-language.k-tooltip .k-list a.on {font-weight: 700;;color:#fff;background:#bb1e4d;border-radius:4px;}
.k-language.k-tooltip .k-list a:first-child {margin-top:0px;}
.k-language.k-tooltip .k-list .k-hidden {display:none;}
.k-language.k-tooltip .k-list .k-hidden + .k-text {margin-top:0px;}
.k-mobile-button {display:none;}
.k-mobile-button button {height:100%;display:flex;align-items: center;}
.k-mobile-button-close {display:none;}
.root.main .k-header {background:none;}
.root.main .k-header.hover {background:#fff;}
html.fixed .root.main .k-header {background:#fff;}
.k-header.type-white .header-inner .k-left h1 svg path {fill:#fff;}
.k-header.type-white .k-gnb .depth1 > a {color:#fff;}
.k-header.type-white .k-language.k-tooltip .k-btn .k-text {color:#fff;}
.k-header.type-white .k-language.k-tooltip .k-btn .k-icon svg path {stroke:#fff;}
.k-header.type-white .k-language.k-tooltip .k-btn svg g {stroke:#fff;}
.k-header.type-white .k-language.k-tooltip .k-btn:hover svg g {stroke:#DC0043;}
.k-header.type-white .k-language.k-tooltip.on .k-btn svg g {stroke:#DC0043;}
.k-header.type-white .k-mobile-button svg path {stroke:#fff;}
.k-header.type-white.hover .header-inner .k-left h1 svg path {fill:#DC0043;}
.k-header.type-white.hover .k-gnb .depth1 > a {color:#191919;}
.k-header.type-white.hover .k-language.k-tooltip .k-btn .k-text {color:#191919;}
.k-header.type-white.hover .k-language.k-tooltip .k-btn .k-icon svg path {stroke:#191919;}
.k-mobile-logo {display:none;}
@media screen and (min-width: 1200px) {
    .k-header.k-type {}
    .k-header.k-type .depth1:not(.depth1-01) {}
    .k-header.k-type .depth1:not(.depth1-01) .depth2 {width:154px;margin-right:74px;}
    .k-header.k-type .depth1:not(.depth1-01) .depth2 > a {display:block;}
    .k-header.k-type .depth1:not(.depth1-01) .depth2 > a .k-text {height:48px;}
    .k-header.k-type .depth1:not(.depth1-01) .depth2 .k-thumb {margin-top:8px;position: relative;top:initial;left:initial;right:initial;width:154px;height:154px;;display:block;}
    .k-header.k-type .depth1:not(.depth1-01) .depth2 .k-thumb .k-img {border-radius: 12px;;}
    .k-header.k-type .depth1:not(.depth1-01).depth1-04 .depth2:nth-child(5) {position: relative;left: initial;top:initial;}
}
@media screen and (max-width: 1200px) {
    .k-header {height:60px;}
    .header-inner {}
    .header-inner .k-left {height:60px;}
    .header-inner .k-left svg {width: 78px;;}
    .header-inner .k-center {display:none;padding:0px;}
    .header-inner .k-right {height:60px;position:absolute;right:82px;}
    .k-mobile-button {display:block;}
    .k-gnb .depth1.on .k-thumb {display:none;} 
    /*  */
    .k-header.open {height:initial}
    .k-header.open .k-center {display:block;}
    .k-header.open .k-center:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:110px;background:#fff;}
    .k-header.open .k-center .k-dim {position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:rgba(17, 17, 17, 0.5);}
    .k-header.open .k-center {display:block;position:fixed;top:0px;right:0px;width:502px;bottom:0px;}
    .k-header.open .k-center-inner {overflow-y:auto;position:relative;background:#fff;height:calc(100vh - 110px);padding-top:110px;}
    .k-gnb .gnb-inner {display:block;height:initial;padding-bottom:200px;}
    .k-gnb .depth1 {padding:0 0px;margin:0px;}
    .k-gnb .depth1 > a {height:72px;line-height:72px;font-size:20px;display:block;position:relative;padding:0 34px;}
    .k-gnb .depth1 > a:before {content:"";position:absolute;top:calc(50% - 12px);right:34px;width:24px;height:24px;background:url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cpath d='m18 9-6 6-6-6' stroke='%23AAA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 0 0 no-repeat;}
    .k-gnb .depth1.on > a:before {content:"";background:url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cpath d='m18 15-6-6-6 6' stroke='%23191919' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 0 0 no-repeat;}
    .k-gnb .depth1 > .k-sub {position:relative;width:initial;left:0px;top:0px;right:initial;padding:16px 34px 2px 34px;display:none;flex-wrap: wrap;background:#f9f9f9;}
    .k-gnb .depth2 {width:50%;margin:0px;margin-bottom:38px;}
    .k-gnb .depth1.on > a {color:#191919}
    .k-gnb .depth1.on > .k-sub {}
    .depth2-3 {position: relative;top:0px;left:0px;;}
    .k-gnb .depth1-04 .depth2:nth-child(5) {position: relative;top:0px;left:0px;;}
    .k-gnb .depth1 > a:hover:after {content:"";background: none;;}
    .k-gnb .depth2 > a {font-size:18px;line-height:48px;}
    .k-gnb .depth2 > .k-sub {margin-top:14px;}
    .k-gnb .depth2 > .k-sub a {font-size:18px;}
    .k-gnb .depth2 > .k-sub .depth3 {margin-top:28px;}
    .k-gnb .depth1 .k-btn {position:relative;top:0px;}
    .k-gnb .depth1 .k-btn .k-text {font-size:16px;line-height:24px;}
    .k-language.k-tooltip .k-list {top:62px;}
    .k-header.open .header-inner .k-right {display:block;position:fixed;top:0px;right:0px;width:502px;bottom:0px;}
    .k-header.open .header-inner .k-right .k-btn {display:none;}
    .k-header.open .k-mobile-button-close {display:block;position:fixed;top:40px;right:34px;}
    .k-header.type-white .header-inner .k-left h1 svg path {fill:#DC0043;}
    .k-header.type-white .k-gnb .depth1 > a {color:#191919;}
    .k-header.type-white .k-language.k-tooltip .k-btn .k-text {color:#191919;}
    .k-header.type-white .k-language.k-tooltip .k-btn .k-icon svg path {stroke:#191919;}
    .k-header.open .k-mobile-logo {position:absolute;top:46px;right:390px;;display:block;;}
    .k-header.hover:after {content:"";display:none;}
    .k-header.hover {overflow:initial}
    .k-gnb .depth1.on > a {z-index:0;}

    /*  */
    .k-gnb .depth1.no-sub {}
    .k-gnb .depth1.no-sub .k-sub {display:none;}
    .k-gnb .depth1.no-sub a::before {content:"";background: none !important;}
    
}

@media screen and (max-width: 768px) {
    .header-inner {padding:0 24px;}
    .k-header.open .k-language.k-tooltip .k-list {padding:0 24px;}
    .k-header.open .k-center-inner {padding-top:60px;height:calc(100vh - 60px)}
    .k-header.open .k-center {width:100%;}
    .k-header.open .k-center {left:0px;}
    .k-header.open .header-inner .k-right {width:100%}
    .k-gnb .depth1 > a {font-size:18px;padding:0 24px;height:60px;line-height:60px;}
    .k-gnb .depth1 > a:before {content:"";right:24px;}
    .k-gnb .depth1 > .k-sub {padding:16px 24px 2px 24px}
    .k-gnb .depth2 > a {font-size:16px;line-height:24px;}
    .k-gnb .depth2 > .k-sub {margin-top:0px;}
    .k-gnb .depth2 > .k-sub a {font-size:16px;line-height:22px;margin-top:0px;}
    .k-gnb .depth2 > .k-sub .depth3:first-child {margin-top:17px;}
    .k-gnb .depth2 > .k-sub .depth3 {margin-top:18px;}
    .k-header.open .k-mobile-button-close {right:24px;top:13px;}
    .header-inner .k-right {right:72px;}
    .k-language.k-tooltip .k-list {right:4px;}
    .k-header.open .k-mobile-logo {position:absolute;top:21px;right:initial;left:24px;;;}
    .k-header.open .k-center:after {content:"";height:60px;;}
    .lang-en .k-gnb .depth1 > .k-sub {padding-top:24px;}
    .lang-en .k-gnb .depth2 {margin-bottom:55px;padding-right:16px;}
    .lang-en .k-gnb .depth2 > a.k-text {line-height:24px;}
    .lang-en .k-gnb .depth2 .k-btn a .k-text {line-height:24px;}
    .lang-en .k-gnb .depth2 > .k-sub {margin-top:8px;}
 
    /*  */
    .k-gnb .depth1.no-sub {}
    .k-gnb .depth1.no-sub .k-sub {display:none;}
    .k-gnb .depth1.no-sub a::before {content:"";background: none !important;}
}
/*  */
.parallax {transition:opacity 0.25s}
.parallax.alpha {opacity:0;}
.parallax.alpha[data-opacity="0.5"] {opacity:1}
.parallax.alpha[data-opacity="0"] {opacity:0.0}
.parallax.alpha[data-opacity="1"] {opacity:1.0}
/*  */
.k-gnb.k-pc {display:block;}
.k-gnb.k-mobile {display:none;}
@media screen and (max-width: 1200px) {
    .k-gnb.k-pc {display:none;}
    .k-gnb.k-mobile {display:block;}
}
.k-footer-gnb.k-pc {display:block;}
.k-footer-gnb.k-mobile {display:none;}
@media screen and (max-width: 1200px) {
    .k-footer-gnb.k-pc {display:none;}
    .k-footer-gnb.k-mobile {display:block;}
}