.k-layer-modal.modal-inquiry .layer-inner {max-width:646px;}
.k-layer-modal.modal-inquiry .layer-inner .k-modal-close {width:48px;height:48px;}
.inqu-content {background:#fff;min-height:900px;border-radius:24px;padding:52px 64px;display:flex;flex-direction: column;justify-content: space-between;}
.inqu-content .k-cont {margin-top:60px;flex:1 auto;}
.inqu-content .k-cont .k-form {margin-top:32px;}
.inqu-content .k-cont .form-item {margin-top:32px;}
.inqu-content .k-cont .form-item:first-child {margin-top:0px;}
.inqu-content .k-cont .form-item .form-head {}
.inqu-content .k-cont .form-item .form-head .star {color:#e42939;}
.inqu-content .k-cont .form-item .form-body {margin-top:8px;}
.inqu-content .k-cont .form-item .k-desc {margin-top:8px;color:#505050;}
.inqu-content .k-btn-wrap {display:flex;justify-content: center;margin-top:24px;}
.inqu-content .k-btn-wrap .k-btn {width:initial !important;padding:0 40px;}

.inqu-content .k-answer-confirm {text-align:Center;margin-bottom:48px;}
.inqu-content .k-answer-confirm a {color:#bb1e4d;}
/*  */
.inqu-content .k-cont .k-file {display:flex;}
.inqu-content .k-cont .k-file .k-left {padding-right:16px;flex:1 auto;}
.inqu-content .k-cont .k-file .k-right {width:103px;display:flex;align-items: center;}
.inqu-content .k-cont .k-file .k-right .k-text {white-space: nowrap;}
.lang-cn .inqu-content .k-cont .k-file .k-right .k-text {white-space: nowrap;} 
.inqu-content .CheckBox .k-label svg path {opacity: 1;}
.inqu-content .k-end-txt {text-align:center;margin:40px 0;}
.inqu-content .k-end-txt strong {color:#bb1e4d;}




/*  */
.Search.form.toggle .k-display {padding:0 16px 0 11px;}
.Search.form.toggle.on .k-display {border-radius:8px 8px 0 0;border:1px solid #e7e7e7;}
.Search.form.toggle .k-list {position:relative;display:none;padding:16px;margin-top:0px;box-shadow: none;background:#f9f9f9;border:1px solid #e7e7e7;border-top:0px;border-radius:0 0 8px 8px}
.Search.form.toggle.on .k-list {display:block;}
.Search.form.toggle .k-list .list-inner {max-height:initial}
.Search.form.toggle .k-list dl {margin-top:24px;}
.Search.form.toggle .k-list dl:first-child {margin-top:0px;}
.Search.form.toggle .k-list dl dt {color:#505050;}
.Search.form.toggle .k-list dl dd {color:#666;margin-top:8px;}
.Search.form.toggle .k-list dl ul {}
.Search.form.toggle .k-list dl ul li {position:relative;padding-left:12px;margin-top:8px;}
.Search.form.toggle .k-list dl ul li:after {content:"";position:absolute;top:calc(50% - 2px);left:0px;width:4px;height:4px;background:#767676;border-radius:50%;}
/*  */
.inqu-content .img-list {margin-top:20px;}
.inqu-content .img-list .list-inner {display:flex;flex-wrap: wrap;margin:0 -12px;}
.inqu-content .img-list .img-item {width:50%;padding:12px;box-sizing: border-box;}
.inqu-content .img-list .img-item .item-inner {position:relative;height:120px;border-radius:8px;overfloW:hidden;display:block;width:100%;}
.inqu-content .img-list .img-item .k-img {position:absolute;top:0px;left:0px;width:100%;height:100%;}
.inqu-content .img-list .img-item .k-img:after {content:"";position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(18, 31, 59, 0.7);}
.inqu-content .img-list .img-item .k-txt {position:relative;height:100%;z-index:1;display:flex;align-items: center;justify-content: center;}
.inqu-content .img-list .img-item .k-txt .txt-inner {}
.inqu-content .img-list .img-item .k-txt .txt-inner svg {display:none;}
.inqu-content .img-list .img-item:hover .k-img:after {content:"";background:#bb1e4d;opacity:0.81}
.inqu-content .img-list .img-item:hover .k-txt .txt-inner svg {display: inline-block;;}
.inqu-content .img-list .img-item.on .k-img:after {content:"";background:#bb1e4d;opacity:0.81}
.inqu-content .img-list .img-item.on .k-txt .txt-inner svg {display: inline-block;;}
/*  */
.inqu-content {}
.inqu-content .k-complete {margin-top:160px;text-align:center;;}
.inqu-content .k-complete .k-title {margin-top:16px;}
.inqu-content .k-complete .k-desc {margin-top:16px;}
/*  */
.Search.form.reply {margin-top:24px;}
.Search.form.reply:first-child {margin-top:0px;}
.Search.form.reply .k-inner {}
.Search.form.reply .k-display {padding:15px 24px;}
.Search.form.reply.on .k-display {border-top-color: #bb1e4d;border-left-color: #bb1e4d;border-right-color: #bb1e4d;}
.Search.form.toggle.reply.on .k-list {border-bottom-color: #bb1e4d;border-left-color: #bb1e4d;border-right-color: #bb1e4d;overflow:hidden;}


.k-reply-group {}
.k-reply-group .k-head {display:flex;}
.k-reply-group .k-head .k-left {color:#767676;}
.k-reply-group .k-head .k-text.k-primary {color:#bb1e4d !important;}
.k-reply-group .k-head .k-right {}
.k-reply-group .k-detail {display:flex;margin-top:8px;}
.k-reply-group .k-detail .k-text {position:relative;color:#505050;padding-left:16px;margin-left:16px;}
.k-reply-group .k-detail .k-text:after {content:"";position:absolute;top:calc(50% - 6px);left:0px;width:1px;height:12px;background:#e7e7e7;}
.k-reply-group .k-detail .k-text:first-child {margin-left:0px;padding-left:0px;}
.k-reply-group .k-detail .k-text:first-child:after {content:"";background:none;}
.k-reply-group .k-detail .k-text.k-date {margin-top:2px;}
/*  */
.Search.form.toggle.reply .k-list {background:#fff;padding:0px;}
.Search.form.toggle.reply .k-list .k-write-wrap {padding:24px;}
.Search.form.toggle.reply .k-list .k-write-wrap .k-text {color:#767676;}
/*  */
.k-answer-wrap {background:#f9f9f9;padding:24px;}
.k-answer-wrap .k-detail {display:flex;}
.k-answer-wrap .k-detail .k-text {position:relative;color:#505050;padding-left:16px;margin-left:16px;}
.k-answer-wrap .k-detail .k-text.k-primary {color:#bb1e4d;}
.k-answer-wrap .k-detail .k-text:after {content:"";position:absolute;top:calc(50% - 6px);left:0px;width:1px;height:12px;background:#e7e7e7;}
.k-answer-wrap .k-detail .k-text:first-child {margin-left:0px;padding-left:0px;}
.k-answer-wrap .k-detail .k-text:first-child:after {content:"";background:none;}
.k-answer-wrap .k-detail .k-text.k-date {margin-top:2px;}
.k-answer-wrap .k-answer {margin-top:8px;}


.k-file-button {position:relative}
.k-file-button input {position:absolute;top:0px;left:0px;opacity: 0;;width:100%;height:100%;}

.inqu-content .k-cont.k-write {margin-top:57px;}
.inqu-content .k-cont.k-write .k-form {margin-top:0px;}


@media screen and (max-width: 1200px) {
    .inqu-content .font160 {font-size:160px;line-height:160px;letter-spacing: -4.8px;}
    .inqu-content .font140 {font-size:140px;line-height:140px;letter-spacing: -4.8px;}
    .inqu-content .font78 {font-size:78px;line-height:108px;letter-spacing: -1px;}
    .inqu-content .font58 {font-size:58px;line-height:82px;letter-spacing: -1px;}
    .inqu-content .font48 {font-size:48px;line-height:68px;letter-spacing: -1px;}
    .inqu-content .font40 {font-size:40px;line-height:52px;letter-spacing: -1px;}
    .inqu-content .font32 {font-size:32px;line-height:44px;letter-spacing: -1px;}
    .inqu-content .font24 {font-size:24px;line-height:34px;letter-spacing: -0.5px;}
    .inqu-content .font18 {font-size:18px;line-height:26px;letter-spacing: -0.5px;}
    .inqu-content .font16 {font-size:16px;line-height:24px;letter-spacing: -0.5px;}
    .inqu-content .font14 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .inqu-content .font12 {font-size:12px;line-height:22px;letter-spacing: -0.5px;}

    .inqu-content .k-title {font-size:28px;line-height:40px;}
    .inqu-content .Search.form .k-display {height:56px;line-height:56px;}
    .k-layer-modal.modal-inquiry .layer-inner {padding:100px 0px;}
    .k-layer-modal.modal-inquiry .k-modal-close {right:64px;top:50px}
    .inqu-content .k-cont.k-write .k-form {margin-top:0px;}
    .inqu-content .k-complete .k-title {font-size:28px;line-height:40px;}
    .inqu-content .Search.form.reply .k-display {height:initial;line-height:initial;}
    .inqu-content .Search.form .k-list .list-inner {padding:0px;}
}


@media screen and (max-width: 768px) {
    .inqu-content .font78 {font-size:56px;line-height:78px;letter-spacing: -1px;}
    .inqu-content .font58 {font-size:32px;line-height:44px;letter-spacing: -1px;}
    .inqu-content .font48 {font-size:28px;line-height:40px;letter-spacing: -1px;}
    .inqu-content .font40 {font-size:24px;line-height:34px;letter-spacing: -0.5px;}
    .inqu-content .font32 {font-size:20px;line-height:30px;letter-spacing: -0.5px;}
    .inqu-content .font24 {font-size:18px;line-height:26px;letter-spacing: -0.5px;}
    .inqu-content .font18 {font-size:16px;line-height:24px;letter-spacing: -0.5px;}
    .inqu-content .font16 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .inqu-content .font14 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .inqu-content .font12 {font-size:12px;line-height:18px;letter-spacing: -0.5px;}

    .k-layer-modal.modal-inquiry .layer-inner {padding:0px;}
    .k-layer-modal.modal-inquiry .layer-inner .k-cont {padding:0px 24px;}
    .k-layer-modal.modal-inquiry .inqu-content {border-radius: 0px;padding:0 0px;;}
    .k-layer-modal.modal-inquiry .layer-inner .k-modal-close {top:13px;right:14px;width:30px;height:30px;}
    .k-layer-modal.modal-inquiry .k-head .k-title {height:56px;line-height:54px;text-align:center;}
    .inqu-content .k-cont {margin-top:24px;}

    .inqu-content .Search.form .k-display {height:48px;line-height:48px;}

    .inqu-content .img-list .list-inner {margin:0 -8px;}
    .inqu-content .img-list .img-item {padding:8px;}

    .k-layer-modal.modal-inquiry .k-btn-wrap {margin-top:40px;}
    .k-layer-modal.modal-inquiry .k-btn-wrap .k-btn {border-radius: 0px;width:100% !important;;margin:0 -24px;}
    .k-layer-modal.modal-inquiry .layer-inner {max-width:100%;}
    .inqu-content .k-complete .k-title {font-size:20px;line-height:30px;}
    .inqu-content .k-complete .k-desc {margin-top:7px;}
    
    .inqu-content .k-complete svg {width:64px;height:64px;}

    .inqu-content .k-cont.k-write .form-item {margin-top:24px;}
    .inqu-content .k-cont.k-write .Search.form .k-display {height:initial;line-height:initial}
    .inqu-content .k-cont.k-write .Search.form .k-display .CheckBox {padding: 19px 0  19px 6px;}
    
    .inqu-content {min-height:100vh}
}

/*  */
.banner-top .k-global-banner {height:150px;}
html:not(.fixed) .banner-top.root .k-header {top:150px;}
/*  */
.banner-bottom .k-global-banner {position: fixed;left:0px;right:0px;bottom:0px;;height:150px;}
.banner-bottom .top-btn {bottom:calc(60px + 150px);}
.banner-bottom .top-btn + #btn_find {bottom:calc(142px + 150px);}


.k-global-banner {display: none; position: relative; background-color: #2b4186;justify-content: center;overflow: hidden;z-index:9000;} 
.k-global-banner .inner {width:100%; max-width:calc(1200px - 34px - 34px ); height:100%;position: relative;padding:0 34px;box-sizing: border-box;}
.k-global-banner img {position: absolute;top:0px;left:50%;margin-left:-960px;width:1920px;height:100%;}
.k-global-banner .k-cont {position: relative; z-index:1; display:flex;justify-content: space-between;}
.k-global-banner .k-cont .k-left {}
.k-global-banner {height:0px;}

.k-global-banner .k-left {padding-top:40px;}
.k-global-banner .k-left .k-desc {margin-top:10px;}
.k-global-banner .k-left .k-more {position: absolute;bottom:2px;right:20px;;display: flex;align-items: center;}
.k-global-banner .k-left .k-more svg {margin-left:4px;}
.k-global-banner .k-right {padding-top:12px;min-width:312px;}
.k-global-banner .k-left .k-title {    overflow: hidden;    text-overflow: ellipsis;    display: -webkit-box;    -webkit-line-clamp: 1;    -webkit-box-orient: vertical;    max-height:initial}
.k-global-banner .k-left .k-desc {    overflow: hidden;    text-overflow: ellipsis;    display: -webkit-box;    -webkit-line-clamp: 1;    -webkit-box-orient: vertical;    max-height:initial}
/* radio */
.k-radio input {display:inline;opacity:0;width:0;margin:0;position:absolute;}
.k-radio-label {position:relative;vertical-align:middle;line-height:17px;cursor:pointer;padding-left:24px;font-size:14px;color:#000;}
.k-radio-label:before {position:absolute;top:2px;left:0px;width:14px;height:14px;content:""; }
.k-radio-label:after {content:"";width:10px;height:10px;position:absolute;top:5px;left:3px;border-radius:50%;}
.k-radio input:checked + label:after {}
.k-radio input:checked + label:after {content:"";width:10px;height:10px;position:absolute;top:5px;left:3px;}
.k-global-banner .k-right .right-inner {display:flex;align-items:center;justify-content: space-between;}
.k-global-banner .k-right .right-inner .left {margin-top:-1px;}
.k-global-banner .k-right .k-left {}
.k-global-banner .k-right .k-right {}
.k-global-banner .k-right label {color:#fff;}
.k-global-banner .k-right button {color:#fff;display:inline-block;width:70px;height:40px;font-size:12px;}
.k-global-banner .k-right .k-radio {}
.k-global-banner .k-right .k-radio label {height:24px;line-height:26px;display:block;padding-left:30px;}
.k-global-banner .k-right .k-radio-label:before {content:"";top:2px;width:22px;height:22px;background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23g91wj8r4ea)'%3E        %3Cpath d='M12 4.125a7.875 7.875 0 1 1 0 15.75 7.875 7.875 0 0 1 0-15.75zM12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18z' fill='%23fff'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='g91wj8r4ea'%3E            %3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E");}
.k-global-banner .k-right .k-radio-label:after {content:"";width:10px;height:10px;top:8px;left:7px;}
.k-global-banner .k-right input:checked + .k-radio-label:before {content:"";background-image:url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23lg07mue6ra)'%3E        %3Cpath d='M12 4.125a7.875 7.875 0 1 1 0 15.75 7.875 7.875 0 0 1 0-15.75zM12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18z' fill='%23fff'/%3E        %3Cpath d='m16.5 9-6.131 6L7.5 12.4' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='lg07mue6ra'%3E            %3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E")}
.k-mobile .k-global-banner .k-right input:checked + .k-radio-label:before {content:"";background-image:url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23pxklg5fdia)'%3E        %3Cpath d='M16 5.5a10.5 10.5 0 1 1 0 21 10.5 10.5 0 0 1 0-21zM16 4a12 12 0 1 0 0 24 12 12 0 0 0 0-24z' fill='%23fff'/%3E        %3Cpath d='m22 12-8.175 8L10 16.533' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='pxklg5fdia'%3E            %3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E")}


@media screen and (max-width: 1200px) {
    .root .k-global-banner.on {height:146px;}
}
@media screen and (max-width: 768px) {
    html:not(.fixed) .banner-top.root .k-header {top:0px;}
    .k-global-banner {position: fixed;bottom:0px;left:0px;right:0px;;}
    .k-global-banner .inner {padding:0px;max-width:100%;}
    .root .k-global-banner.on {height:calc(208px + 52px);}
    .k-global-banner .k-cont {display:block;}

    .k-global-banner .k-left {height:208px;padding:25px 24px 0px 24px;box-sizing: border-box;}
    .k-global-banner .k-left .k-title {-webkit-line-clamp: 2;}
    .k-global-banner .k-left .k-desc {-webkit-line-clamp: 3;}
    .k-global-banner .k-left .k-more {bottom:76px;right:initial;left:24px;}
    .k-global-banner .k-right {background-color: #000;;padding:0 24px;height:52px;}
    .k-global-banner .k-right .right-inner .left {padding-top:9px;margin:0px;}
    .k-global-banner .k-right .k-radio label {height:32px;line-height:32px;}
    .k-global-banner .k-right .k-radio label {padding-left:35px;}
    .k-global-banner .k-right .k-radio-label:before {width:32px;height:32px;}
    /* .k-global-banner .k-right .k-radio-label:before {content:"";background-image: url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23e6j5sbl6ra)'%3E        %3Cpath d='M16 5.5a10.5 10.5 0 1 1 0 21 10.5 10.5 0 0 1 0-21zM16 4a12 12 0 1 0 0 24 12 12 0 0 0 0-24z' fill='%23fff'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='e6j5sbl6ra'%3E            %3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E");} */
    .k-global-banner .k-right .k-radio-label:before {content:"";background-image: url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23e6j5sbl6ra)'%3E        %3Cpath d='M16 5.5a10.5 10.5 0 1 1 0 21 10.5 10.5 0 0 1 0-21zM16 4a12 12 0 1 0 0 24 12 12 0 0 0 0-24z' fill='%23fff'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='e6j5sbl6ra'%3E            %3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E");background-repeat: no-repeat;}
    .k-global-banner .k-right button {width:32px;height:52px;vertical-align:top;}
    .k-global-banner picture img {object-fit: cover;left:0px;margin-left:0px;width:100%;height:100%;}
    .banner-top .k-global-banner {height:calc(208px + 52px);}
    .banner-bottom .k-global-banner {height:calc(208px + 52px);}
}

/*  */
.banner-top .k-global-banner {display:flex;}
.banner-bottom .k-global-banner {display:flex;}
.banner-top .k-global-center-banner {display:none;}
.banner-bottom .k-global-center-banner {display:none;}

.banner-center .k-global-banner {display:none;}
.banner-center .k-global-center-banner {display:block;}

/* center */
.k-global-center-banner {    padding:0 30px; box-sizing: border-box; display:none;     position:fixed;top:calc(50% - 305px - 28px);left:calc(50% - 270px); width:540px; height:calc(710px + 56px);    z-index:9001;}
.k-global-center-banner .banner-inner {background-color: #191919;border-radius: 16px;overflow:hidden;;}
.k-global-center-banner img {max-width:540px;width:100%;}
.k-global-center-banner .inner {display:flex;justify-content: space-between;}
.k-global-center-banner label {font-size:14px;color:#fff;}

.k-global-center-banner .inner .left {padding:12px 0 0 20px;}
.k-global-center-banner .inner label {color:#fff;}
.k-global-center-banner .inner button {color:#fff;display:inline-block;width:70px;height:54px;font-size:12px;}
.k-global-center-banner .inner .k-radio {}
.k-global-center-banner .inner .k-radio label {height:32px;line-height:32px;display:block;padding-left:35px;}
.k-global-center-banner .inner .k-radio-label:before {content:"";top:0px;width:32px;height:32px;background-image: url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23e6j5sbl6ra)'%3E        %3Cpath d='M16 5.5a10.5 10.5 0 1 1 0 21 10.5 10.5 0 0 1 0-21zM16 4a12 12 0 1 0 0 24 12 12 0 0 0 0-24z' fill='%23fff'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='e6j5sbl6ra'%3E            %3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E");}
.k-global-center-banner .inner .k-radio-label:after {content:"";width:10px;height:10px;top:8px;left:7px;}
.k-global-center-banner  input:checked + .k-radio-label:before {content:"";background-image:url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E    %3Cg clip-path='url(%23pxklg5fdia)'%3E        %3Cpath d='M16 5.5a10.5 10.5 0 1 1 0 21 10.5 10.5 0 0 1 0-21zM16 4a12 12 0 1 0 0 24 12 12 0 0 0 0-24z' fill='%23fff'/%3E        %3Cpath d='m22 12-8.175 8L10 16.533' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E    %3C/g%3E    %3Cdefs%3E        %3CclipPath id='pxklg5fdia'%3E            %3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E        %3C/clipPath%3E    %3C/defs%3E%3C/svg%3E")}


@media screen and (max-width: 600px) {
    .k-global-center-banner {left:0px;width:100%; height:initial;top:calc(50%);transform: translateY(-50%);}
}










/* news */
.k-layer-modal.modal-news .layer-inner {max-width:986px;}
.k-layer-modal.modal-news .layer-inner .k-modal-close {width:48px;height:48px;}
.news-content {background:#fff;min-height:900px;border-radius:24px;padding:52px 64px;display:flex;flex-direction: column;justify-content: space-between;}
.news-content .k-cont {margin-top:60px;flex:1 auto;}
.news-content .k-cont .k-form {margin-top:32px;}
.news-content .k-cont .form-item {margin-top:32px;}
.news-content .k-cont .form-item:first-child {margin-top:0px;}
.news-content .k-cont .form-item .form-head {}
.news-content .k-cont .form-item .form-head .star {color:#e42939;}
.news-content .k-cont .form-item .form-body {margin-top:8px;}
.news-content .k-cont .form-item .k-desc {margin-top:8px;color:#505050;}
.news-content .k-btn-wrap {display:flex;justify-content: center;}
.news-content .k-btn-wrap .k-btn {padding:0 40px;margin:0 8px;}
.news-content .k-btn-wrap .k-btn .k-text {white-space:nowrap;}
.news-content .k-cate {color:#505050;}
.news-content .k-subtitle {margin-top:8px;}
.news-content .img-wrap {margin-top:24px;border-radius: 24px;overflow: hidden;;}
.news-content .img-wrap .k-img {}
.news-content .img-wrap .k-img img {opacity: 1;}
.news-content .k-desc {margin-top:16px;color:#767676;}
.news-content .k-editor {margin-top:32px; background-color: #f9f9f9;;border:1px solid #e7e7e7;margin-bottom:32px;}
.news-content .k-editor .k-editor-inner {padding:10px;font-size:16px;line-height:24px;min-height:200px;}

@media screen and (max-width: 1200px) {
    .news-content .k-cont {margin-top:27px;}
    .news-content .k-cate {}
    .news-content .k-subtitle {margin-top:8px;}
    .news-content .img-wrap {margin-top:24px;border-radius: 16px;}
    .news-content .k-desc {margin-top:16px;}
}

@media screen and (max-width: 768px) {
    .news-content .font78 {font-size:56px;line-height:78px;letter-spacing: -1px;}
    .news-content .font58 {font-size:32px;line-height:44px;letter-spacing: -1px;}
    .news-content .font48 {font-size:28px;line-height:40px;letter-spacing: -1px;}
    .news-content .font40 {font-size:24px;line-height:34px;letter-spacing: -0.5px;}
    .news-content .font32 {font-size:20px;line-height:30px;letter-spacing: -0.5px;}
    .news-content .font24 {font-size:18px;line-height:26px;letter-spacing: -0.5px;}
    .news-content .font18 {font-size:16px;line-height:24px;letter-spacing: -0.5px;}
    .news-content .font16 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .news-content .font14 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .news-content .font12 {font-size:12px;line-height:18px;letter-spacing: -0.5px;}
    .k-layer-modal.modal-news .layer-inner {padding:0px;}
    .k-layer-modal.modal-news .layer-inner .k-cont {padding:0px 24px;}
    .k-layer-modal.modal-news .news-content {border-radius: 0px;padding:0 0px;;}
    .k-layer-modal.modal-news .layer-inner .k-modal-close {top:13px;right:14px;width:30px;height:30px;}
    .k-layer-modal.modal-news .k-head .k-title {height:56px;line-height:54px;text-align:center;}
    .news-content .k-cont {margin-top:24px;}
    .news-content .Search.form .k-display {height:48px;line-height:48px;}
    .news-content .img-list .list-inner {margin:0 -8px;}
    .news-content .img-list .img-item {padding:8px;}
    .k-layer-modal.modal-news .k-btn-wrap {margin-top:40px;}
    .k-layer-modal.modal-news .k-btn-wrap .k-btn {border-radius: 0px;width:100% !important;;margin:0px;}
    .k-layer-modal.modal-news .layer-inner {max-width:100%;}
    .news-content .k-complete .k-title {font-size:20px;line-height:30px;}
    .news-content .k-complete .k-desc {margin-top:7px;}
    .news-content .k-complete svg {width:64px;height:64px;}
    .news-content .k-cont.k-write .form-item {margin-top:24px;}
    .news-content .k-cont.k-write .Search.form .k-display {height:initial;line-height:initial}
    .news-content .k-cont.k-write .Search.form .k-display .CheckBox {padding: 19px 0  19px 6px;}
    .news-content {min-height:100vh}
    .news-content .k-cate {}
    .news-content .k-subtitle {margin-top:8px;}
    .news-content .img-wrap {margin-top:24px;border-radius: 12px;;}
    .news-content .k-desc {margin-top:16px;}
}








/* noti */
.k-layer-modal.modal-noti .layer-inner {max-width:986px;}
.k-layer-modal.modal-noti .layer-inner .k-modal-close {width:48px;height:48px;}
.noti-content {background:#fff;min-height:900px;border-radius:24px;padding:52px 64px;display:flex;flex-direction: column;justify-content: space-between;}
.noti-content .k-cont {margin-top:60px;flex:1 auto;}
.noti-content .k-cont .k-form {margin-top:32px;}
.noti-content .k-cont .form-item {margin-top:32px;}
.noti-content .k-cont .form-item:first-child {margin-top:0px;}
.noti-content .k-cont .form-item .form-head {}
.noti-content .k-cont .form-item .form-head .star {color:#e42939;}
.noti-content .k-cont .form-item .form-body {margin-top:8px;}
.noti-content .k-cont .form-item .k-desc {margin-top:8px;color:#505050;}
.noti-content .k-btn-wrap {display:flex;justify-content: center;}
.noti-content .k-btn-wrap .k-btn {padding:0 40px;margin:0 8px;}
.noti-content .k-cate {color:#505050;}
.noti-content .k-subtitle {margin-top:8px;}
.noti-content .img-wrap {margin-top:24px;border-radius: 24px;overflow: hidden;;}
.noti-content .img-wrap .k-img {}
.noti-content .img-wrap .k-img img {opacity: 1;}
.noti-content .k-desc {margin-top:16px;color:#767676;}
.noti-content .k-editor { background-color: #f9f9f9;;border:1px solid #e7e7e7;margin-bottom:32px;}
.noti-content .k-editor .k-editor-inner {padding:10px;font-size:16px;line-height:24px;min-height:200px;}

@media screen and (max-width: 1200px) {
    .noti-content .k-cont {margin-top:27px;}
    .noti-content .k-cate {}
    .noti-content .k-subtitle {margin-top:8px;}
    .noti-content .img-wrap {margin-top:24px;border-radius: 16px;}
    .noti-content .k-desc {margin-top:16px;}
}

@media screen and (max-width: 768px) {
    .noti-content .font78 {font-size:56px;line-height:78px;letter-spacing: -1px;}
    .noti-content .font58 {font-size:32px;line-height:44px;letter-spacing: -1px;}
    .noti-content .font48 {font-size:28px;line-height:40px;letter-spacing: -1px;}
    .noti-content .font40 {font-size:24px;line-height:34px;letter-spacing: -0.5px;}
    .noti-content .font32 {font-size:20px;line-height:30px;letter-spacing: -0.5px;}
    .noti-content .font24 {font-size:18px;line-height:26px;letter-spacing: -0.5px;}
    .noti-content .font18 {font-size:16px;line-height:24px;letter-spacing: -0.5px;}
    .noti-content .font16 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .noti-content .font14 {font-size:14px;line-height:20px;letter-spacing: -0.5px;}
    .noti-content .font12 {font-size:12px;line-height:18px;letter-spacing: -0.5px;}
    .k-layer-modal.modal-noti .layer-inner {padding:0px;}
    .k-layer-modal.modal-noti .layer-inner .k-cont {padding:0px 24px;}
    .k-layer-modal.modal-noti .noti-content {border-radius: 0px;padding:0 0px;;}
    .k-layer-modal.modal-noti .layer-inner .k-modal-close {top:13px;right:14px;width:30px;height:30px;}
    .k-layer-modal.modal-noti .k-head .k-title {height:56px;line-height:54px;text-align:center;}
    .noti-content .k-cont {margin-top:24px;}
    .noti-content .Search.form .k-display {height:48px;line-height:48px;}
    .noti-content .img-list .list-inner {margin:0 -8px;}
    .noti-content .img-list .img-item {padding:8px;}
    .k-layer-modal.modal-noti .k-btn-wrap {margin-top:40px;}
    .k-layer-modal.modal-noti .k-btn-wrap .k-btn {border-radius: 0px;width:100% !important;;margin:0px;}
    .k-layer-modal.modal-noti .layer-inner {max-width:100%;}
    .noti-content .k-complete .k-title {font-size:20px;line-height:30px;}
    .noti-content .k-complete .k-desc {margin-top:7px;}
    .noti-content .k-complete svg {width:64px;height:64px;}
    .noti-content .k-cont.k-write .form-item {margin-top:24px;}
    .noti-content .k-cont.k-write .Search.form .k-display {height:initial;line-height:initial}
    .noti-content .k-cont.k-write .Search.form .k-display .CheckBox {padding: 19px 0  19px 6px;}
    .noti-content {min-height:100vh}
    .noti-content .k-cate {}
    .noti-content .k-subtitle {margin-top:8px;}
    .noti-content .img-wrap {margin-top:24px;border-radius: 12px;;}
    .noti-content .k-desc {margin-top:16px;}
}


















